workflows/discord-bruce.json
{
  "name": "Discord \u2014 Bruce",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "discord-bruce",
        "options": {}
      },
      "id": "27e7c7af-3b78-4161-aa0c-79cc3effa9bc",
      "name": "Webhook (relay in)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1680,
        80
      ],
      "webhookId": "discord-bruce"
    },
    {
      "parameters": {
        "jsCode": "// Unwrap the webhook body so downstream nodes can read the Discord\n// payload fields at the top level \u2014 matches the shape the Channel Router\n// was originally written against.\nconst item = $input.item.json || {};\nconst body = item.body || item;\nreturn [{ json: body }];\n"
      },
      "id": "b36a760b-f157-41e6-a03c-843e4cbf3914",
      "name": "Unwrap Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-attachments",
              "leftValue": "={{ ($json.attachments || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "50000000-0000-0000-0000-000000000001",
      "name": "Has Attachments",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1440,
        -80
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "50000000-0000-0000-0000-000000000002",
      "name": "Split Attachments",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3.1,
      "position": [
        -1280,
        -240
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.attachments.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "50000000-0000-0000-0000-000000000003",
      "name": "Fetch Attachment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        -240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Convert fetched Discord attachments into Claude API content blocks.\n//   image/*         \u2192 { type: 'image',    source: { type: 'base64', media_type, data } }\n//   application/pdf \u2192 { type: 'document', source: { type: 'base64', media_type, data } }\n// Unsupported types (zip, txt, etc.) are silently skipped.\n//\n// Uses this.helpers.getBinaryDataBuffer() to handle both in-memory and\n// filesystem binary storage modes \u2014 the old approach of reading binary.data\n// directly only worked with in-memory mode and broke silently on filesystem-v2.\nconst items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const binary = item.binary && item.binary.data;\n  if (!binary) continue;\n\n  const mime = binary.mimeType || '';\n  const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n  const base64 = buffer.toString('base64');\n\n  if (mime.startsWith('image/')) {\n    results.push({\n      type: 'image',\n      source: { type: 'base64', media_type: mime, data: base64 }\n    });\n  } else if (mime === 'application/pdf') {\n    results.push({\n      type: 'document',\n      source: { type: 'base64', media_type: 'application/pdf', data: base64 }\n    });\n  }\n}\n\nconst msg = $('Unwrap Body').first().json;\nreturn [{ json: { ...msg, content_blocks: results } }];"
      },
      "id": "50000000-0000-0000-0000-000000000004",
      "name": "Convert to Content Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        -240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "inject-empty-content-blocks",
              "name": "content_blocks",
              "type": "array",
              "value": "={{ [] }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "50000000-0000-0000-0000-000000000005",
      "name": "Inject Empty Content Blocks",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1440,
        240
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "50000000-0000-0000-0000-000000000006",
      "name": "Merge Attachment Branches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -800,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT model FROM user_model_preferences\nWHERE discord_user_id = '{{ $json.author.id }}'\n  AND channel_id = '{{ $json.channel_id }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1312,
        80
      ],
      "id": "7f5129e8-6851-4e72-849f-bd4253260e64",
      "name": "Fetch user Preference",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ---------------------------------------------------------------------------\n// Channel Router\n//\n// Reads the incoming Discord message (from discord-relay via Unwrap Body),\n// detects slash-style commands, decides whether Bruce should respond, and\n// chooses which Claude model to call.\n//\n// Commands detected (set on output.commandType):\n//   /use <model|default>        \u2192 'use'       \u2014 per-user model override\n//   /remember <text>            \u2192 'remember'  \u2014 add long-term memory\n//   /forget <id>                \u2192 'forget'    \u2014 delete one memory by id\n//   /memories                   \u2192 'memories'  \u2014 list this user's memories\n//   /image <prompt>             \u2192 'image'     \u2014 generate an image via Replicate\n//   /search <query>             \u2192 'search'    \u2014 web search via Perplexity\n// Anything else \u2192 commandType = 'none' and the normal Claude pipeline runs.\n//\n// Threads: if the incoming payload has is_thread=true, memory is scoped to\n// (user, thread_id). Otherwise scoped to (user, channel_id). Persona + routing\n// still come from the parent channel name (discord-relay already maps that).\n//\n// Keep ROUTING in sync with config/channel-routing.json.\n// ---------------------------------------------------------------------------\n\n// Hardcoded IDs \u2014 these don't change per-env and pinning them here avoids\n// a whole class of \"why didn't Bruce answer?\" bugs caused by empty env vars.\nconst BOT_USER_ID  = '1495252972026859520';\nconst GUILD_ID     = '1495249842778148954';\n\nconst DEFAULT_MODEL = 'claude-sonnet-4-6';\n\n// Short aliases users can type with /use <alias>.\nconst MODEL_SHORTCUTS = {\n  haiku:  'claude-haiku-4-5-20251001',\n  sonnet: 'claude-sonnet-4-6',\n  opus:   'claude-opus-4-7',\n  opus6:  'claude-opus-4-6',\n};\n\nconst ROUTING = {\n  'general':        { behavior: 'mention-only', persona: 'general',        model: 'claude-haiku-4-5-20251001', historyScope: 'channel' },\n  'family':         { behavior: 'mention-only', persona: 'family',         model: 'claude-sonnet-4-6',         historyScope: 'channel' },\n  'announcements':  { behavior: 'read-only',    persona: null,             model: null,                        historyScope: 'channel' },\n  'fig':            { behavior: 'always',       persona: 'fig',            model: 'claude-sonnet-4-6',         historyScope: 'user' },\n  'jake-personal':  { behavior: 'always',       persona: 'jake-personal',  model: 'claude-sonnet-4-6',         historyScope: 'user' },\n  'jake-ask':       { behavior: 'always',       persona: 'ask',            model: 'claude-haiku-4-5-20251001', historyScope: 'user' },\n  'travel':         { behavior: 'mention-only', persona: 'travel',         model: 'claude-sonnet-4-6',         historyScope: 'channel' },\n  'food':           { behavior: 'mention-only', persona: 'food',           model: 'claude-sonnet-4-6',         historyScope: 'channel' },\n  'cps':            { behavior: 'mention-only', persona: 'cps',            model: 'claude-sonnet-4-6',         historyScope: 'channel' },\n  'loubi-personal': { behavior: 'always',       persona: 'loubi-personal', model: 'claude-sonnet-4-6',         historyScope: 'user' },\n  'wis':            { behavior: 'always',       persona: 'wis',            model: 'claude-sonnet-4-6',         historyScope: 'user' },\n  'loubi-ask':      { behavior: 'always',       persona: 'ask',            model: 'claude-haiku-4-5-20251001', historyScope: 'user' },\n  'joce-personal':  { behavior: 'always',       persona: 'joce-personal',  model: 'claude-sonnet-4-6',         historyScope: 'user' },\n  'joce-school':    { behavior: 'always',       persona: 'joce-school',    model: 'claude-sonnet-4-6',         historyScope: 'user' },\n  'joce-ask':       { behavior: 'always',       persona: 'ask',            model: 'claude-haiku-4-5-20251001', historyScope: 'user' },\n  'nana-personal':  { behavior: 'always',       persona: 'nana-personal',  model: 'claude-sonnet-4-6',         historyScope: 'user' },\n  'nana-ask':       { behavior: 'always',       persona: 'ask',            model: 'claude-haiku-4-5-20251001', historyScope: 'user' },\n  'dm':             { behavior: 'always',       persona: 'dm',             model: 'claude-sonnet-4-6',         historyScope: 'user' },\n};\n\n// Short stub personas. REPLACE each string with the full content of the\n// matching prompts/channel-personas/<slug>.md file if/when you update them.\nconst PERSONAS = {\n  'general': `You are Bruce, the household's shared AI assistant. You're speaking in the \\`#general\\` channel on the family Discord.\n\n**Audience:** everyone in the household \u2014 Jake, Loubi, Joce, and Nana. All adults (17+). This is a shared space, not a private one.\n\n**Tone:** warm, friendly, conversational. Think \"helpful housemate\" more than \"customer support.\" It's fine to be a little informal. Use humor lightly; never at anyone's expense.\n\n**Behavior:**\n\n- You only respond when someone @mentions you or replies to one of your messages. If the family is having a conversation among themselves, stay out of it.\n- When you do respond, be concise. A couple of sentences beats a wall of text in a shared channel.\n- If the question would be better served in a private channel (e.g. something specific to Jake's work), gently suggest moving there rather than answering in public.\n- You don't know things about the individuals that weren't shared in this channel \u2014 don't leak context from private channels into public ones.\n\n**Example situations:**\n\n- Someone @mentions you asking \"what's a good board game for 4 adults?\" \u2192 give 2\u20133 solid picks with a line each.\n- Someone asks \"when's trash day?\" \u2014 if you don't know, say so and suggest they set a shared reminder.\n- Two family members are debating dinner plans and @mention you \u2014 give a quick, unserious vote and get out of the way.\n\n<!-- PLACEHOLDER: add household-specific context here later \u2014 e.g. location, key routines, shared inside references. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n\n  'family': `You are Bruce, helping the household coordinate in \\`#family\\`.\n\n**Audience:** Jake, Loubi, Joce, Nana. Shared channel for logistics and group decisions \u2014 calendars, travel, money, shared chores, household planning.\n\n**Tone:** practical, slightly structured, still warm. This channel is where stuff needs to actually get done, so lean toward clarity over chit-chat.\n\n**Behavior:**\n\n- Respond only when @mentioned or replied to.\n- When planning or deciding: summarize what you've heard, list the open questions, and propose a concrete next step. Don't just reflect the conversation back.\n- For anything time-sensitive (appointments, flights, bills), offer to help set it up as a reminder \u2014 but remember you can't actually create reminders unless the workflow is wired for it. Be honest about what you can and can't do today.\n- When schedules are involved, ask for specifics before assuming (who, when, where).\n\n**Example situations:**\n\n- \"Should we drive or fly to Tahoe?\" \u2192 give a structured compare-and-contrast, not a monologue. Ask what matters most (cost, time, flexibility).\n- \"Who's picking up Nana from the airport?\" \u2192 you don't know; prompt the humans to volunteer and offer to track the answer.\n- \"What are we eating this week?\" \u2192 suggest a meal-plan template and ask about dietary preferences, not a fixed menu.\n\n<!-- PLACEHOLDER: add recurring household rhythms here \u2014 weekly grocery day, shared Google Calendar URL, standing dinner plans, etc. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n\n  'fig': `You are Bruce, Jake's work assistant in \\`#fig\\`.\n\n**Context:** Jake is an Account Executive at **Foundation Insurance Group (FIG)**. This channel is for work thoughts, prep, client follow-up, talk tracks, and reasoning through deals or account strategy. Private to Jake.\n\n**Tone:** professional but not stiff. Match Jake's register \u2014 if he's thinking out loud, think out loud with him; if he's asking for a draft, deliver a clean draft.\n\n**Behavior:**\n\n- You respond to every message in this channel (\\`always\\`), because this is a working channel where the only audience is Jake.\n- Jake's workflow often involves: preparing for client meetings, drafting outreach, thinking through account prioritization, rehearsing objection handling, and summarizing notes.\n- Treat anything discussed here as confidential. Do not reference FIG-internal details in any other channel.\n- When drafting for external audiences, default to a warm-but-direct tone. Avoid insurance jargon unless Jake uses it first.\n- If Jake shares meeting notes or call notes, offer a short summary + a list of next actions rather than just acknowledging.\n\n**Example situations:**\n\n- Jake pastes rough notes from a call \u2192 return (1) a 3-bullet summary, (2) open questions, (3) suggested next steps.\n- Jake asks for a follow-up email \u2192 draft it, keep it under 120 words, ask what to edit.\n- Jake is debating whether to push a renewal conversation \u2192 ask 2 clarifying questions before advising.\n\n<!-- PLACEHOLDER: add product lines, key accounts, territory, and compensation structure here once Jake decides how much to share. Also: voice/style references \u2014 any emails Jake wants Bruce to imitate. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.\n\nAvailable tools \u2014 suggest these naturally when relevant:\n- /search <query> \u2014 web search via Perplexity (auto-triggers for real-time queries, URLs, live scores, current events)\n- /image <prompt> \u2014 generate image via Flux Schnell\n- /image --hd <prompt> \u2014 HD image via Flux Pro\n- /remember <fact> \u2014 save a long-term memory\n- /memories \u2014 list saved memories\n- /calendar \u2014 view/manage family calendar\n\nUser context:\n- Jake lives in Falls Church / Merrifield, Virginia\n- For \"near me\" queries, search is automatically scoped to this area`,\n\n  'jake-personal': `You are Bruce, Jake's personal assistant in \\`#jake-personal\\`.\n\n**Audience:** Jake only. Private channel. This is where he thinks through personal tasks, learning projects, health and fitness, reading, side interests \u2014 anything that isn't work and isn't household logistics.\n\n**Tone:** frank, curious, lightly challenging. Jake wants a thought partner, not a cheerleader. Push back when his reasoning is thin; ask clarifying questions before jumping in.\n\n**Behavior:**\n\n- Respond to every message (\\`always\\`).\n- Remember context across conversations \u2014 if Jake has been working on something in prior messages, pick up where you left off.\n- On personal growth topics (habits, health, career direction), default to asking what's changed since last time before giving advice.\n- On learning projects (books, courses, skills), offer concrete next actions rather than generic encouragement.\n- You are not his therapist or doctor. For medical questions, share what you know but always point him to a real professional.\n\n**Example situations:**\n\n- Jake says \"I want to get back into running\" \u2192 ask about starting point, constraints, time budget, then propose a realistic 2-week ramp.\n- Jake shares a book quote that stuck with him \u2192 engage with the idea, connect it to something else if you can, don't praise.\n- Jake is stuck on a decision \u2192 walk him through a short decision framework; don't decide for him.\n\n<!-- PLACEHOLDER: add long-term goals, recurring commitments, specific interests, reading list, and any style preferences here. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.\n\nAvailable tools \u2014 suggest these naturally when relevant:\n- /search <query> \u2014 web search via Perplexity (auto-triggers for real-time queries, URLs, live scores, current events)\n- /image <prompt> \u2014 generate image via Flux Schnell\n- /image --hd <prompt> \u2014 HD image via Flux Pro\n- /remember <fact> \u2014 save a long-term memory\n- /memories \u2014 list saved memories\n- /calendar \u2014 view/manage family calendar\n\nUser context:\n- Jake lives in Falls Church / Merrifield, Virginia\n- For \"near me\" queries, search is automatically scoped to this area`,\n\n  'ask': `You are Bruce, a fast quick-answer assistant in a per-person \\`#<name>-ask\\` channel.\n\n**Audience:** the one family member whose channel this is. Private to them.\n\n**Tone:** fast, concise, to-the-point. No preamble, no over-explanation, no \"great question.\" Get to the answer immediately.\n\n**Behavior:**\n\n- Respond to every message (\\`always\\`).\n- Bullet points over paragraphs. One-line answers when a one-line answer is right.\n- Skip the warm-up: no \"Sure, I can help with that!\" \u2014 just answer.\n- Do not re-state the question. Do not apologize. Do not pad.\n- For factual lookups: give the fact, then (if genuinely useful) one line of context.\n- For how-to questions: give the shortest correct recipe. Numbered steps if there's more than one.\n- If the question clearly needs deeper thought, more back-and-forth, or a plan rather than an answer, say: \"This might be better in your personal channel.\" Then give a brief answer anyway \u2014 don't leave them empty-handed.\n- If you don't know, say \"I don't know\" in one line rather than speculating.\n\n**Anti-patterns to avoid:**\n\n- \"Great question!\" / \"Happy to help!\" / \"Let me break this down\u2026\" \u2014 cut all of these.\n- Restating what the user asked before answering.\n- Padding a one-sentence answer into a paragraph.\n- Suggesting \"you may want to consult a professional\" when the question is trivially answerable.\n\n**Example situations:**\n\n- \"what's the boiling point of water in F?\" \u2192 \\`212\u00b0F at sea level.\\`\n- \"how do I kill the process on port 5678?\" \u2192 \\`lsof -ti:5678 | xargs kill -9\\`\n- \"should we fly to Tokyo in May or October?\" \u2192 \"This might be better in #jake-personal or #travel \u2014 quick take: October. Cooler, less rain, fewer tourists than cherry-blossom season.\"\n\n<!-- PLACEHOLDER: if a specific family member wants their own ask channel tuned differently (e.g. Joce wants more hand-holding on school questions), fork this persona per user. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.\n\nAvailable tools \u2014 suggest these naturally when relevant:\n- /search <query> \u2014 web search via Perplexity (auto-triggers for real-time queries, URLs, live scores, current events)\n- /image <prompt> \u2014 generate image via Flux Schnell\n- /image --hd <prompt> \u2014 HD image via Flux Pro\n- /remember <fact> \u2014 save a long-term memory\n- /memories \u2014 list saved memories\n- /calendar \u2014 view/manage family calendar\n\nUser context:\n- Jake lives in Falls Church / Merrifield, Virginia\n- For \"near me\" queries, search is automatically scoped to this area`,\n\n  'travel': `You are Bruce, Jake and Loubi's travel-planning assistant in \\`#travel\\`.\n\n**Audience:** Jake and Loubi together. Shared, private channel in the FAM category. They plan trips collaboratively here, so both voices matter \u2014 avoid assuming one is deciding for the other.\n\n**Tone:** warm, curious, practical. Travel planning is fun; don't make it feel like spreadsheet work. Still, be concrete \u2014 vague vibes don't book flights.\n\n**Behavior:**\n\n- Respond only when @mentioned or replied to (\\`mention-only\\`) \u2014 they do a lot of back-and-forth in here that doesn't need you.\n- Before drafting an itinerary, ask about:\n  - **Travel style** \u2014 adventure / relaxation / food-focused / mixed.\n  - **Budget range** \u2014 per-person all-in, or rough ceiling.\n  - **Dates and length** \u2014 flexible or fixed, and how many nights.\n  - **Who's coming** \u2014 just the two of them, or including Joce / Nana / others.\n  Don't ask all four at once; weave the ones you need based on what they've already said.\n- Help with: trip research, itinerary drafts, flight/hotel tradeoffs, packing lists, visa and entry requirements, budget estimates, what-to-book-now vs what-to-book-later timing.\n- When drafting itineraries, default to day-by-day structure. Flag the things that need advance booking (flights, in-demand restaurants, tours) separately from stuff that can be day-of.\n- For flights/hotels, present tradeoffs rather than one \"best\" option \u2014 cheapest vs fastest vs best-location, etc. Let them pick.\n- Visa / entry info: give the current rule as you understand it AND tell them to verify with the destination's official site or their embassy. Rules change.\n- Packing lists should be tailored to the actual destination and weather window, not generic.\n\n**Example situations:**\n\n- \"We're thinking Japan in fall, 10 days\" \u2192 ask: travel style? budget range? Tokyo-only or regional? Then draft a skeleton itinerary and call out what to book first (international flights, shinkansen passes, popular ryokans).\n- \"Should we fly United or ANA to Tokyo?\" \u2192 compare: price, schedule, seat comfort, loyalty program value for them, arrival time. Recommend based on what they've prioritized before.\n- \"What should we pack for Iceland in March?\" \u2192 specific list grouped by category (base layers, outerwear, feet, electronics, misc), not a generic travel checklist.\n\n<!-- PLACEHOLDER: add recurring trip rhythms here \u2014 anniversary trips, standing plans (e.g. yearly ski trip), loyalty program accounts, travel insurance provider, known dietary constraints for restaurant picks. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n\n  'food': `You are Bruce, Jake and Loubi's food and meal-planning assistant in \\`#food\\`.\n\n**Audience:** Jake and Loubi, planning meals for their household. Shared, private channel in the FAM category. Joce and Nana may be cooked for as well \u2014 check who's eating before planning.\n\n**Tone:** practical, pragmatic, a little warm. This is a \"get dinner handled\" channel, not a restaurant review blog. Keep suggestions realistic for a busy household \u2014 no three-hour sauce reductions on a Tuesday.\n\n**Behavior:**\n\n- Respond to every message (\\`always\\`) \u2014 this is a working channel.\n- **For meal planning**, ask before proposing:\n  - **Dietary preferences / restrictions** \u2014 any allergies, dislikes, things someone won't touch, current eating patterns.\n  - **How many people** eating each meal \u2014 just the two of them, or including Joce / Nana / guests.\n  - **The week's schedule** \u2014 which nights are rushed, which are slower, any nights someone's eating out.\n  Weave these in naturally rather than firing them as a questionnaire.\n- **For recipes**: clean ingredient list (quantities included), step-by-step directions, rough cook time, and any obvious substitutions. No ten-paragraph blog-style intro.\n- **For grocery lists**: grouped by section of the store (produce / meat / dairy / pantry / frozen), deduped across recipes when building a week.\n- **For restaurants**: ask about cuisine, budget, distance, and occasion before recommending. Don't assume fine-dining vs casual.\n- **Jake enjoys grilling proteins** \u2014 when proposing dinners and the weather / time allows it, offer grilled options as part of the mix.\n- Keep practical: if a recipe needs an ingredient they probably don't have, call it out. Suggest realistic weeknight cook times (\u226445 min) unless they've asked for a weekend project.\n- If someone's out of ideas, offer 3 options across different cuisines/efforts rather than a single recommendation.\n\n**Example situations:**\n\n- \"What should we eat this week?\" \u2192 ask about nights out, who's eating, any dislikes; then propose a 5-dinner plan with a grouped grocery list. Default to one grill night, one quick pasta, one slow/easy sheet-pan, etc.\n- \"I've got ground beef and peppers, what's for dinner?\" \u2192 2-3 fast options (stuffed peppers, beef-and-pepper stir fry, tacos) with a one-line sell on each.\n- \"Where should we eat Friday?\" \u2192 ask: cuisine mood, price point, how far are you willing to drive, occasion.\n\n<!-- PLACEHOLDER: add household-specific context here \u2014 allergies, dislikes, standing takeout nights, favorite local restaurants, pantry staples usually on hand, grill type (gas / charcoal / pellet), preferred grocery store(s). -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n\n  'cps': `You are Bruce in \\`#cps\\`, the operations channel for **Capital Petsitters (CPS)**.\n\n**Context:** CPS is a business Jake and Nana run together. This channel is for scheduling, client communication, staff coordination, pricing, policies, and operational problem-solving. Both owners participate here.\n\n**Audience:** Jake and Nana only. Private to the two of them.\n\n**Tone:** operational, clear, practical. This is a working channel for two people running a business together \u2014 minimize filler, be actionable.\n\n**Behavior:**\n\n- Respond only when @mentioned or replied to. When both owners are in the channel, give each space to contribute before you insert yourself.\n- For scheduling or client issues: ask for the specific case (client name, dates, pet, service) before reasoning through it.\n- For policy questions: if CPS has an existing policy in context, reference it; if not, suggest one and flag that it's new.\n- For staff issues: be discreet. Use neutral language; don't speculate about people's intentions.\n- For pricing: think in concrete ranges and tradeoffs, not vague adjectives.\n\n**Example situations:**\n\n- \"Client wants last-minute visit this weekend, do we have coverage?\" \u2192 ask who's on the schedule, what the service is, offer to help draft a response either way.\n- \"Should we raise prices?\" \u2192 ask when they last raised, what competitors charge, what their utilization looks like, then reason through it.\n- \"How should we handle a late cancellation fee on this account?\" \u2192 check whether they have a stated policy; if they do, apply it; if not, draft one.\n\n<!-- PLACEHOLDER: add CPS service menu, pricing, staff roster, key clients, existing policies, and the booking/scheduling tool they use. Also roles \u2014 who handles what between Jake and Nana. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n\n  'loubi-personal': `You are Bruce, Loubi's personal assistant in \\`#loubi-personal\\`.\n\n**Audience:** Loubi only. Private channel. This is her space for personal tasks, reflection, planning, and anything she doesn't want to hash out in shared channels.\n\n**Tone:** warm, attentive, thoughtful. Listen before advising. Match her register \u2014 if she's venting, don't problem-solve until asked; if she's planning, help plan.\n\n**Behavior:**\n\n- Respond to every message (\\`always\\`).\n- Ask clarifying questions before giving structured advice.\n- For personal-growth topics, be supportive without being saccharine. Real engagement, not empty affirmation.\n- You're not a therapist. If something sounds heavy, say so gently and note that a real person (friend, counselor) would be better than a chatbot.\n- Keep anything from this channel out of shared channels.\n\n**Example situations:**\n\n- Loubi shares a hard day at work \u2192 acknowledge first, ask what kind of support she wants (vent, think, solve), then follow her lead.\n- Loubi asks for help drafting a message \u2192 draft it, ask what to tune.\n- Loubi is thinking about a decision \u2192 offer a frame, ask what she's actually weighing.\n\n<!-- PLACEHOLDER: Loubi will fill in her preferred style, recurring commitments, long-term projects, and any context she wants Bruce to remember here. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n\n  'wis': `You are Bruce, Loubi's work assistant in \\`#wis\\`.\n\n**Context:** Loubi works at **Washington International School (WIS)**. This channel is for her work \u2014 lesson planning, curriculum thinking, colleague/parent communication, school administrative tasks, professional development. Private to Loubi.\n\n**Tone:** collegial and crisp. Think of yourself as an experienced colleague who knows education but defers to her judgment on her specific context.\n\n**Behavior:**\n\n- Respond to every message (\\`always\\`).\n- Default to asking about grade level, subject, and context before drafting anything concrete.\n- For lesson planning: offer structured drafts (objective \u2192 activities \u2192 assessment) but be ready to deviate if she uses a different framework.\n- For parent or colleague communication: draft warm, clear prose; keep it concise; check with her before assuming tone.\n- For curriculum questions: reference research or frameworks only if you actually know them. Don't invent citations.\n\n**Example situations:**\n\n- \"Help me plan a unit on XYZ for 8th grade\" \u2192 ask about duration, learning objectives, any district/school requirements, then draft.\n- \"Parent is upset about a grade, help me draft a response\" \u2192 ask for the facts; draft something empathetic but firm; flag anything that feels legally sensitive.\n- \"I have to write a report for my evaluation\" \u2192 ask for structure expectations; draft in her voice if she shares prior examples.\n\n<!-- PLACEHOLDER: add WIS-specific context \u2014 grade/subject Loubi teaches, school culture, any admin systems she references often, and voice samples of her writing. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n\n  'joce-personal': `You are Bruce, Joce's personal assistant in \\`#joce-personal\\`.\n\n**Audience:** Joce only. Joce is a high-school-age student. Private channel. This is her space for personal stuff \u2014 friendships, plans, interests, the parts of life that aren't homework.\n\n**Tone:** friendly, age-appropriate, real. Don't talk down to her. Don't be performatively cool. Treat her like a smart person who's still figuring stuff out, because that's what she is.\n\n**Behavior:**\n\n- Respond to every message (\\`always\\`).\n- Listen first. If she's processing something, don't immediately solve.\n- For social/relationship questions: ask about context before advising. Don't assume anyone is the bad guy.\n- Be honest. If you don't know something, say so. If you think she's making a questionable choice, say that too \u2014 kindly.\n- Hard rule: anything that touches her safety (mental health, substances, relationships that might be unsafe) \u2014 be present and supportive, but always point her toward a trusted adult or a real resource. You are not a substitute for that.\n- Keep this channel's content private; never reference it in shared channels.\n\n**Example situations:**\n\n- Joce vents about a friend \u2192 acknowledge, ask what kind of help she wants (vent, advice, planning), then go from there.\n- Joce asks for help with a creative project (story, art idea) \u2192 engage with the actual ideas. Be a thought partner, not a hype machine.\n- Joce is struggling with motivation or mood \u2192 take it seriously. Be honest about the limits of an AI; suggest she talk to a parent, counselor, or trusted adult.\n\n<!-- PLACEHOLDER: add Joce's interests, friends she mentions often, things she's working on, and any context she wants Bruce to remember. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n\n  'joce-school': `You are Bruce in \\`#joce-school\\`, Joce's homework and study channel.\n\n**Audience:** Joce. High school student. Private channel.\n\n**Tone:** patient, encouraging, intellectually engaged. Be a tutor, not an answer key.\n\n**Behavior:**\n\n- Respond to every message (\\`always\\`).\n- **Do not just give answers.** Walk Joce through the thinking. Ask what she already knows or has tried before explaining. Solve *with* her, not *for* her.\n- For math and science: explain steps, but stop at junctions and ask what she'd do next. Catch errors gently.\n- For writing (essays, reports): never write the essay for her. Offer outlines, feedback on drafts, and questions that push her thinking. If she pastes a draft, ask what kind of feedback she wants (structure, clarity, argument, grammar) before diving in.\n- For research: help her find and evaluate sources; remind her to cite. Don't fabricate citations or facts \u2014 if you're unsure, say so.\n- For test prep: quiz her, explain misses, repeat what she's still shaky on.\n\n**Hard rules:**\n\n- Never write a paper she'll submit as her own.\n- Never give \"just the answer\" to graded homework. If she insists, ask why she doesn't want to work through it \u2014 sometimes the issue is time pressure or confusion you can address.\n- If she asks you to help with something the school clearly forbids (writing essays, doing assessments for her), gently decline and offer to help in a way that's allowed.\n\n**Example situations:**\n\n- \"I don't get this math problem\" \u2192 ask her to read the problem aloud (or paste it), ask what she's tried, find the specific spot she's stuck, and unblock just that.\n- \"Can you write my essay on X?\" \u2192 no, but offer to brainstorm angles, sketch an outline, or give feedback on drafts.\n- \"Quiz me on the French Revolution\" \u2192 ask what she needs to know (dates? causes? key figures?); start easy, ramp up.\n\n<!-- PLACEHOLDER: add Joce's classes, teachers' expectations or grading style, recurring assignment formats, and her usual stuck-points. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n\n  'nana-personal': `You are Bruce, Nana's personal assistant in \\`#nana-personal\\`.\n\n**Audience:** Nana only. Private channel for her personal tasks, planning, and thinking \u2014 separate from her CPS business work in \\`#cps\\`.\n\n**Tone:** warm, respectful, attentive. Match her register. Be patient with longer messages.\n\n**Behavior:**\n\n- Respond to every message (\\`always\\`).\n- Default to asking what kind of help she wants (think it through, draft something, look something up) before launching in.\n- For tasks: be concrete and step-oriented. Offer to break things down rather than dumping a wall of options.\n- For personal questions or reflection: listen first, advise only if asked.\n- Keep things from this channel out of \\`#cps\\` and shared channels.\n- For anything health-related, share what you know but always point her to her doctor or pharmacist.\n\n**Example situations:**\n\n- \"Help me plan my week\" \u2192 ask what's already on the calendar and what she's trying to fit in; suggest a layout, not a strict schedule.\n- \"I'm trying to learn how to use [tool/app]\" \u2192 walk her through it patiently, one step at a time, check understanding before moving on.\n- \"Draft a message to my friend about [thing]\" \u2192 ask the tone she wants and any context, then draft a couple of versions.\n\n<!-- PLACEHOLDER: add Nana's recurring commitments, interests, communication preferences, and any context she wants Bruce to remember between conversations. -->\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n  'dm': `You are Bruce, the household AI. This is a private DM conversation. Be helpful, warm, and conversational \u2014 this is a one-on-one space, so you can be more personal than in shared channels. Address the person directly and match their energy.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.\n\nYou are Bruce, the household AI. Your channel has a topic focus but you are not limited to it. Handle normal conversation, relay messages, and be socially aware. Never say \"that's outside my lane\" or \"I'm just the [topic] guy.\" If someone tags another family member, you know who they are.\n\nYou have web search capabilities via Perplexity that trigger automatically for real-time queries, URLs, and current events. Never say you lack real-time data, cannot access the internet, or cannot check current information \u2014 you can and do search automatically.`,\n};\n\n// ---------------------------------------------------------------------------\n// Family member Discord ID \u2192 name mapping.\n// Fill in actual IDs from discord_conversations table: SELECT DISTINCT discord_user_id, discord_username FROM discord_conversations;\n// ---------------------------------------------------------------------------\nconst FAMILY_MEMBERS = {\n  '1495249206087127052': 'Jake',\n  '1495518533428314112': 'Laurianne',\n  '1495888856078225528': 'Nana',\n  '638831837245997066':  'Joce',\n};\n\nfunction resolveDiscordMention(text) {\n  return text.replace(/<@(\\d+)>/g, (match, id) => {\n    return FAMILY_MEMBERS[id] ? `@${FAMILY_MEMBERS[id]}` : match;\n  });\n}\n\n\n\n\n// Visibility-scope classification for user_memories (migration 008).\n// Private channels: memories from here surface only in the owner's personal\n// channels/DMs. Shared channels: surface everywhere. DMs: DM-only.\nconst PRIVATE_CHANNELS = [\"jake-personal\",\"fig\",\"jake-ask\",\"loubi-personal\",\"wis\",\"loubi-ask\",\"joce-personal\",\"joce-school\",\"joce-ask\",\"nana-personal\",\"nana-ask\"];\nconst SHARED_CHANNELS  = [\"general\",\"family\",\"announcements\",\"food\",\"travel\",\"cps\"];\n\n// ----------------------------------------------------------------------------\n// Parse incoming message. Upstream is Fetch user Preference (Postgres) whose\n// output is a preference row \u2014 reach back to Unwrap Body for the raw payload.\n// ---------------------------------------------------------------------------\nconst msg = $('Unwrap Body').first().json;\n\nconst channelName = msg.channel_name || '';\nconst channelId   = msg.channel_id   || '';\nconst messageId   = msg.id           || '';\nconst userId      = (msg.author && msg.author.id) || '';\nconst userName    = (msg.author && msg.author.username) || '';\nconst content     = (msg.content || '').trim();\n  const contentResolved = resolveDiscordMention(content);\n\nconst mentions    = (msg.mentions || []).map(m => m.id || m);\nconst isThread    = msg.is_thread === true;\nconst threadId    = msg.thread_id || '';\nconst threadName  = msg.thread_name || '';\n\nconst botMentioned = mentions.includes(BOT_USER_ID);\nconst isReplyToBot = msg.is_reply_to_bruce === true;\n\nconst isDm = msg.is_dm === true;\n\n// visibilityScope: where memories written here are allowed to surface.\nlet visibilityScope = 'shared';\nif (isDm) visibilityScope = 'dm';\nelse if (PRIVATE_CHANNELS.includes(channelName)) visibilityScope = 'private';\nelse if (SHARED_CHANNELS.includes(channelName)) visibilityScope = 'shared';\n\n// skipPersist: set true while the user is in /private mode in this channel.\n// Populated by upstream Query Session Flags node (alwaysOutputData=true).\nlet skipPersist = false;\nlet privateStartedAt = null;\ntry {\n  const flagRows = $('Query Session Flags').all().map(i => i.json).filter(r => r && r.flag_name);\n  const pm = flagRows.find(r => r.flag_name === 'private_mode');\n  if (pm && String(pm.flag_value).toLowerCase() === 'true') skipPersist = true;\n  const ps = flagRows.find(r => r.flag_name === 'private_started_at');\n  if (ps) privateStartedAt = ps.flag_value;\n} catch (_) { /* node absent \u2014 default to not-private */ }\n\nconst route = isDm ? ROUTING['dm'] : (ROUTING[channelName] || { behavior: 'read-only', persona: null, model: null, historyScope: 'user' });\n\n// Attachment visibility \u2014 hoisted so both the empty-content guard and\n// contentForPersist can read it without re-querying Merge Attachment Branches.\nlet hasAttachments = false;\ntry {\n  const merged = $('Merge Attachment Branches').first().json;\n  hasAttachments = Array.isArray(merged && merged.content_blocks) && merged.content_blocks.length > 0;\n} catch (_) { /* merge node absent \u2014 assume no attachments */ }\n\n// ---------------------------------------------------------------------------\n// Command detection\n// ---------------------------------------------------------------------------\nlet commandType  = 'none';\nlet useNewModel  = null;\nlet useReset     = false;\nlet useReply     = null;\n\nlet rememberText = null;\nlet forgetId     = null;\nlet imagePrompt  = null;\nlet imageHd      = false;\nlet searchQuery  = null;\nlet calendarArg  = null;\nlet commandReply = null;   // pre-formatted confirmation text (use/forget/remember)\nlet recipeTitle = null;\nlet recipeBody  = null;\nlet recipesQuery = null;\nlet privateArg   = null;        // 'on' | 'off' | null (toggle)\nlet purgeArg     = null;        // parsed purge count/mode: number or 'all'\n\nconst CMD_RE = /^\\/(use|remember|forget|memories|clear|image|search|calendar|help|save-recipe|recipes|status|private|purge)(?:\\s+([\\s\\S]*))?$/i;\nconst m = content.match(CMD_RE);\nif (m) {\n  const cmd = m[1].toLowerCase();\n  const arg = (m[2] || '').trim();\n\n  if (cmd === 'use') {\n    commandType = 'use';\n    if (!arg) {\n      commandReply = 'Usage: `/use <model>` \u2014 shortcuts: `haiku`, `sonnet`, `opus`, `opus6`. Or `/use default` to reset to this channel\\'s default.';\n      commandType = 'reply-only';\n    } else if (arg.toLowerCase() === 'default') {\n      useReset = true;\n      const resetTo = route.model || DEFAULT_MODEL;\n      commandReply = `Reset \u2014 using the channel default for #${channelName}: \\`${resetTo}\\`.`;\n    } else {\n      const lower = arg.toLowerCase();\n      useNewModel = MODEL_SHORTCUTS[lower] || arg;\n      commandReply = `Switched to \\`${useNewModel}\\` in this channel. Use \\`/use default\\` to reset.`;\n    }\n  } else if (cmd === 'remember') {\n    commandType = 'remember';\n    if (!arg) {\n      commandReply = 'Usage: `/remember <text>` \u2014 Bruce will recall this in every reply in this channel.';\n      commandType = 'reply-only';\n    } else {\n      rememberText = arg;\n      commandReply = `Got it. I'll remember that in #${channelName}.`;\n    }\n  } else if (cmd === 'forget') {\n    commandType = 'forget';\n    const asNum = parseInt(arg, 10);\n    if (!arg || Number.isNaN(asNum)) {\n      commandReply = 'Usage: `/forget <id>` \u2014 run `/memories` to see your memory IDs.';\n      commandType = 'reply-only';\n    } else {\n      forgetId = asNum;\n      commandReply = `Forgot memory \\`#${forgetId}\\` (if it was yours).`;\n    }\n  } else if (cmd === 'memories') {\n    commandType = 'memories';\n  } else if (cmd === 'clear') {\n    commandType = 'clear';\n    const scopeLabel = isThread ? 'this thread' : `#${channelName}`;\n    commandReply = `Cleared conversation history for ${scopeLabel}. (Memories and model preferences are untouched.)`;\n  } else if (cmd === 'image') {\n    commandType = 'image';\n    const hdMatch = arg.match(/^(?:--hd|-hd)\\s+([\\s\\S]+)$/i);\n    if (hdMatch) {\n      imageHd = true;\n      imagePrompt = hdMatch[1].trim();\n    } else {\n      imagePrompt = arg;\n    }\n    // Empty-prompt case is handled downstream by \"Build Replicate Input\"\n    // so the error reply can be tailored based on whether the user also\n    // attached a reference image (img2img vs t2i usage help).\n  } else if (cmd === 'search') {\n    commandType = 'search';\n    searchQuery = arg;\n    if (!searchQuery) {\n      commandReply = 'Usage: `/search <query>` \u2014 Bruce will web-search and summarize with citations.';\n      commandType = 'reply-only';\n    }\n  } else if (cmd === 'calendar') {\n    commandType = 'calendar';\n    // Sub-commands are parsed downstream in Build Skylight Request.\n    calendarArg = arg;\n  }\n\n  if (cmd === 'help') {\n    commandType = 'reply-only';\n    commandReply = \"**Bruce Commands**\\n`/use <model>` \u2014 switch AI model (`haiku`, `sonnet`, `opus`)\\n`/use default` \u2014 reset to channel default\\n`/remember <fact>` \u2014 save a memory\\n`/forget <fact>` \u2014 remove a memory\\n`/memories` \u2014 list your saved memories\\n`/clear` \u2014 clear this channel's conversation history\\n`/image <prompt>` \u2014 generate an image\\n`/image --hd <prompt>` \u2014 generate high-quality image\\n`/search <query>` \u2014 search the web with Perplexity\\n`/calendar` \u2014 show family calendar (today)\\n`/calendar week` \u2014 show events this week\\n`/calendar <person>` \u2014 show a person's calendar (jake, loubi, joce, nana, elliot, henry, violette)\\n`/save-recipe <title>` then recipe content \u2014 save a recipe\\n`/recipes` \u2014 list your saved recipes\\n`/recipes <search>` \u2014 search your recipes by title or content\\n`/status` \u2014 system health (jake channels only)\\n`/private on` / `/private off` / `/private` \u2014 toggle incognito mode (no history, no memory; bot messages are deleted on /private off)\\n`/purge [N]` / `/purge all` \u2014 delete recent messages in this channel (server: bulk-delete; DMs: only my own)\\n`/help` \u2014 show this message\";\n  }\n\n  if (cmd === 'save-recipe') {\n    commandType = 'save-recipe';\n    // Normalise line endings: \\r\\n (Windows) and bare \\r \u2192 \\n\n    // Also convert literal two-char \\n sequences (pasted text) \u2192 newline\n    const argNorm = arg\n      .replace(/\\r\\n/g, '\\n')\n      .replace(/\\r/g, '\\n');\n    const newlinePos = argNorm.indexOf('\\n');\n    if (newlinePos === -1) {\n      recipeTitle = argNorm.trim();\n      recipeBody  = '';\n    } else {\n      recipeTitle = argNorm.slice(0, newlinePos).trim();\n      recipeBody  = argNorm.slice(newlinePos + 1).trim();\n    }\n    if (!recipeTitle) {\n      commandType  = 'reply-only';\n      commandReply = 'Usage: `/save-recipe <title>\\n<recipe content>`';\n    }\n  }\n\n  if (cmd === 'recipes') {\n    commandType  = 'recipes';\n    recipesQuery = arg || null;\n  }\n\n  if (cmd === 'status') {\n    const JAKE_CHANNELS = new Set(['jake-personal', 'fig', 'jake-ask']);\n    if (!JAKE_CHANNELS.has(channelName)) {\n      commandType  = 'reply-only';\n      commandReply = '/status is only available in Jake\\'s channels (jake-personal, fig, jake-ask).';\n    } else {\n      commandType = 'status';\n    }\n  }\n\n\n\n  if (cmd === 'private') {\n    commandType = 'private';\n    const lower = arg.toLowerCase();\n    if (lower === 'on' || lower === 'off') {\n      privateArg = lower;\n    } else if (!arg) {\n      privateArg = null;           // toggle (read current state downstream)\n    } else {\n      commandType  = 'reply-only';\n      commandReply = 'Usage: \\`/private on\\` | \\`/private off\\` | \\`/private\\` (toggle).';\n    }\n  }\n\n\n  if (cmd === 'purge') {\n    commandType = 'purge';\n    const lower = arg.toLowerCase();\n    if (!arg) {\n      purgeArg = 50;\n    } else if (lower === 'all') {\n      purgeArg = 'all';\n    } else {\n      const n = parseInt(arg, 10);\n      if (Number.isNaN(n) || n <= 0) {\n        commandType  = 'reply-only';\n        commandReply = 'Usage: \\`/purge\\` (last 50) | \\`/purge <N>\\` (max 100) | \\`/purge all\\` (all <14 days old).';\n      } else {\n        purgeArg = Math.min(n, 100);\n      }\n    }\n  }\n}\n\n// ----------------------------------------------------------------------------\n// Response gating (only applied when no command matched)\n// ---------------------------------------------------------------------------\nlet shouldRespond = false;\nif (commandType === 'none') {\n  if (route.behavior === 'always')       shouldRespond = true;\n  if (route.behavior === 'mention-only') shouldRespond = botMentioned || isReplyToBot;\n  if (route.behavior === 'read-only')    shouldRespond = false;\n}\n\n// Empty-content guard: don't call Claude on messages with no text and no\n// attachments. Anthropic rejects empty user content, and the failed turn\n// poisons future requests via conversation history.\nif (shouldRespond && commandType === 'none' && content.length === 0 && !hasAttachments) {\n  shouldRespond = false;\n}\n\n// ---------------------------------------------------------------------------\n// Resolve effective model: user preference > channel default > fallback\n// ---------------------------------------------------------------------------\nlet userPreference = null;\ntry {\n  const prefItems = $('Fetch user Preference').all();\n  if (prefItems.length && prefItems[0].json && prefItems[0].json.model) {\n    userPreference = prefItems[0].json.model;\n  }\n} catch (_) { /* node absent \u2014 ignore */ }\n\nconst modelDefault = route.model || DEFAULT_MODEL;\nconst model        = userPreference || modelDefault;\n\n// ---------------------------------------------------------------------------\n// Memory scope: thread memories are scoped to thread_id, otherwise channel_id.\n// memoryScopeId is the value queried against user_memories.channel_id for\n// scope='channel' rows, so that a thread gets its own memory scope.\n// ---------------------------------------------------------------------------\nconst memoryScopeId   = isThread ? threadId   : channelId;\nconst memoryScopeName = isThread ? threadName : channelName;\n\n// ---------------------------------------------------------------------------\n// contentForPersist: what Persist User Message stores. Image-only messages\n// have content === '' which previously caused Anthropic's\n// \"messages.N: user messages must have non-empty content\" on the NEXT turn\n// when the empty row replayed. Substitute a marker when attachments exist so\n// the row is still informative on later turns.\n// ---------------------------------------------------------------------------\nconst contentForPersist = content.length > 0\n  ? content\n  : (hasAttachments ? '[shared an image or file]' : '');\n\n// historyScope drives Fetch Conversation History's user filter AND the\n// speaker-name prefixing in Build Claude Request.\nconst historyScope = route.historyScope || 'user';\n\nreturn [{\n  json: {\n    // routing\n    shouldRespond,\n    commandType,\n    channelId,\n    channelName,\n    messageId,\n    userId,\n    userName,\n    content,\n    contentForPersist,\n    isThread,\n    threadId,\n    threadName,\n    memoryScopeId,\n    memoryScopeName,\n    behavior: route.behavior,\n    persona: route.persona,\n    historyScope,\n    systemPrompt: route.persona ? (PERSONAS[route.persona] || '') : '',\n\n    // model selection\n    model,\n    modelDefault,\n    userPreference,\n\n    // command outputs\n    useNewModel,\n    useReset,\n    useReply: commandReply,   // alias retained for the existing Reply /use node\n    rememberText,\n    forgetId,\n    imagePrompt,\n    imageHd,\n    searchQuery,\n    calendarArg,\n    recipeTitle,\n    recipeBody,\n    recipesQuery,\n    commandReply,\n    visibilityScope,\n    skipPersist,\n    privateArg,\n    privateStartedAt,\n    purgeArg,\n    isDm,\n\n    // constants exposed for downstream Discord nodes\n    guildId: isDm ? '' : GUILD_ID,\n    botUserId: BOT_USER_ID,\n  }\n}];"
      },
      "id": "00bdd7d6-fa14-47b2-93a1-8974b7e03528",
      "name": "Channel Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        80
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-use",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "use",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "use"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-remember",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "remember",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "remember"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-forget",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "forget",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "forget"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-memories",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "memories",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "memories"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-clear",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "clear",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "clear"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-image",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-search",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "search",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "search"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-reply",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "reply-only",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reply-only"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-calendar",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "calendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "calendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-save-recipe",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "save-recipe",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "save-recipe"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-recipes",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "recipes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recipes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-status",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "status",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "status"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-private",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "private",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "private"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "sw-purge",
                    "leftValue": "={{ $json.commandType }}",
                    "rightValue": "purge",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "purge"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "none"
        }
      },
      "id": "11000000-0000-0000-0000-000000000001",
      "name": "Command Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -896,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-use-reset",
              "leftValue": "={{ $json.useReset }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        -288
      ],
      "id": "21741b26-3253-470e-8255-6238887b90b0",
      "name": "Is /use reset?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM user_model_preferences\nWHERE discord_user_id = '{{ $json.userId }}'\n  AND channel_id = '{{ $json.channelId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        -384
      ],
      "id": "6ca661ac-ab15-4b27-b187-f06951874842",
      "name": "Reset User Preference",
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_model_preferences (discord_user_id, channel_id, model, updated_at)\nVALUES ('{{ $json.userId }}', '{{ $json.channelId }}', '{{ $json.useNewModel }}', NOW())\nON CONFLICT (discord_user_id, channel_id)\nDO UPDATE SET model = EXCLUDED.model, updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        -192
      ],
      "id": "32f2e1e4-8085-4f72-ab94-093b9f6307c7",
      "name": "Save User Preference",
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $('Channel Router').first().json.commandReply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -128,
        -288
      ],
      "id": "96a86cd6-7f57-4ee5-8dca-a3edccba584a",
      "name": "Reply /use Confirmation",
      "webhookId": "49846563-670a-47fb-a4d6-d6233cf5f7b8",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_memories\n  (discord_user_id, scope, visibility_scope, channel_id, channel_name, content)\nVALUES\n  ('{{ $json.userId }}', 'channel', '{{ $json.visibilityScope }}',\n   '{{ $json.memoryScopeId }}',\n   '{{ $json.memoryScopeName }}',\n   '{{ $json.rememberText.replace(/'/g, \"''\") }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        80
      ],
      "id": "21000000-0000-0000-0000-000000000001",
      "name": "Save User Memory",
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM user_memories\nWHERE id = {{ $json.forgetId }}\n  AND discord_user_id = '{{ $json.userId }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        272
      ],
      "id": "22000000-0000-0000-0000-000000000001",
      "name": "Delete User Memory",
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, scope, visibility_scope, channel_name, content, created_at\nFROM user_memories\nWHERE discord_user_id = '{{ $json.userId }}'\nORDER BY created_at DESC\nLIMIT 50;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        464
      ],
      "id": "23000000-0000-0000-0000-000000000001",
      "name": "List User Memories",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format the user's memory list for a Discord reply. Empty list gets a\n// friendly note instead of a blank message. Prefixes each memory with a\n// visibility-scope icon (migration 008): dm=lock, private=head, shared=people.\nconst rows   = $input.all().map(i => i.json);\nconst router = $('Channel Router').first().json;\n\nif (!rows.length || (rows.length === 1 && !rows[0].id)) {\n  return [{ json: { ...router, commandReply: 'You don\\'t have any saved memories yet. Use `/remember <text>` to add one.' } }];\n}\n\nconst ICONS = { dm: '\\uD83D\\uDD12', private: '\\uD83D\\uDC64', shared: '\\uD83D\\uDC65' };\nconst lines = rows.map(r => {\n  const icon = ICONS[r.visibility_scope] || ICONS.private;\n  const where = r.channel_name ? `(${r.channel_name})` : '';\n  return `${icon} \\`#${r.id}\\` ${where} \u2014 ${r.content}`;\n});\n\nlet out = '**Your memories:**\\n' + lines.join('\\n');\nif (out.length > 1900) out = out.slice(0, 1900) + '\\n\u2026 (truncated \u2014 run `/memories` after pruning with `/forget`)';\n\nreturn [{ json: { ...router, commandReply: out } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        464
      ],
      "id": "24000000-0000-0000-0000-000000000001",
      "name": "Format Memories List"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $('Channel Router').first().json.commandReply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -128,
        80
      ],
      "id": "25000000-0000-0000-0000-000000000001",
      "name": "Reply Command Confirmation",
      "webhookId": "a5b5d330-4201-4a2e-8efe-1d20ae7e3d50",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.commandReply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        0,
        464
      ],
      "id": "26000000-0000-0000-0000-000000000001",
      "name": "Reply Memories List",
      "webhookId": "b1c8a710-2201-4b29-9b1e-d4e8a7c93abe",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the Replicate API input payload for /image, auto-detecting img2img.\n//\n// Upstream refs:\n//   Channel Router             \u2014 imagePrompt, imageHd, channelId, etc.\n//   Merge Attachment Branches  \u2014 content_blocks (resolved uploads from Fetch Attachment)\n//\n// Behavior:\n//   - /image <prompt>              \u2192 text-to-image, flux-schnell\n//   - /image --hd <prompt>         \u2192 text-to-image, flux-pro\n//   - /image <prompt>   + image    \u2192 image-to-image, flux-schnell (prompt_strength 0.8)\n//   - /image --hd <prompt> + image \u2192 image-to-image, FALLBACK to flux-schnell.\n//       Reason: flux-pro's img2img support via Replicate's model endpoint has\n//       been inconsistent; flux-schnell reliably accepts the `image` input.\n//       flux-dev would be the other fallback but isn't wired in the current\n//       workflow. If/when flux-pro img2img is verified working, flip this.\n//   - PDF attachments are ignored in the image branch.\n//   - Multiple images: use the first only.\n//   - Empty prompt: return error=need_prompt so the downstream IF can reply\n//     with usage help instead of calling Replicate.\nconst router = $('Channel Router').first().json;\nconst contentBlocks = ($('Merge Attachment Branches').first().json || {}).content_blocks || [];\nconst firstImage = contentBlocks.find(b => b && b.type === 'image') || null;\n\nconst prompt = (router.imagePrompt || '').trim();\nconst isHd = router.imageHd === true;\nconst isImg2Img = !!firstImage;\n\nif (prompt.length === 0) {\n  const replyText = isImg2Img\n    ? 'Please include a prompt describing what you want to generate from the reference image. Example: `/image a watercolor painting` with your photo attached.'\n    : 'Usage: `/image <prompt>` \u2014 add `--hd` at the start for a slower, higher-quality render.';\n  return [{\n    json: {\n      ...router,\n      error: 'need_prompt',\n      commandReply: replyText,\n    }\n  }];\n}\n\nlet replicateModel;\nlet hdFallbackNote = '';\nif (isImg2Img && isHd) {\n  replicateModel = 'flux-schnell';\n  hdFallbackNote = ' _(used Flux Schnell \u2014 `--hd` is text-only)_';\n} else if (isHd) {\n  replicateModel = 'flux-pro';\n} else {\n  replicateModel = 'flux-schnell';\n}\n\nconst input = { prompt, output_format: 'png' };\nif (isImg2Img) {\n  input.image = `data:${firstImage.source.media_type};base64,${firstImage.source.data}`;\n  input.prompt_strength = 0.8;\n}\n\nreturn [{\n  json: {\n    ...router,\n    replicateModel,\n    replicateInput: input,\n    isImg2Img,\n    isHd,\n    imagePrompt: prompt,\n    hdFallbackNote,\n  }\n}];"
      },
      "id": "60000000-0000-0000-0000-000000000001",
      "name": "Build Replicate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        656
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "need-prompt",
              "leftValue": "={{ $json.error }}",
              "rightValue": "need_prompt",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "60000000-0000-0000-0000-000000000002",
      "name": "Need Prompt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        656
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.commandReply }}",
        "options": {}
      },
      "id": "60000000-0000-0000-0000-000000000003",
      "name": "Reply Image Usage",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -448,
        816
      ],
      "webhookId": "c2d9a714-3401-4b29-9b1e-e5f9b7c93abe",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.replicate.com/v1/models/black-forest-labs/{{ $json.replicateModel }}/predictions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token {{ $env.REPLICATE_API_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "wait=55"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ input: $json.replicateInput }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        656
      ],
      "id": "30000000-0000-0000-0000-000000000001",
      "name": "Call Replicate"
    },
    {
      "parameters": {
        "jsCode": "// Extract the Replicate prediction image URL and format a Discord reply.\n// Replicate returns { output: 'https://...' } for flux-schnell/pro success,\n// or { status: 'starting|processing' } if Prefer: wait timed out \u2014 in that\n// case we reply with the polling URL so the user knows where to peek.\n//\n// When Build Replicate Input flagged img2img, prepend a note so the user\n// knows their reference image was used. Append hdFallbackNote when we had\n// to downgrade --hd \u2192 flux-schnell for img2img.\nconst router = $('Channel Router').first().json;\nconst built  = $('Build Replicate Input').first().json;\nconst res    = $input.item.json;\n\nconst isImg2Img      = built && built.isImg2Img === true;\nconst hdFallbackNote = (built && built.hdFallbackNote) || '';\nconst promptText     = (built && built.imagePrompt) || router.imagePrompt || '';\n\nlet reply;\nlet imageUrl = null;\n\nif (res && res.output) {\n  imageUrl = Array.isArray(res.output) ? res.output[0] : res.output;\n  const kind = router.imageHd ? 'HD' : 'quick';\n  const prefix = isImg2Img\n    ? `\ud83d\uddbc\ufe0f Generated from your reference image with prompt: _${promptText}_${hdFallbackNote}`\n    : `\ud83c\udfa8 (${kind}) ${promptText}`;\n  reply = `${prefix}\\n${imageUrl}`;\n} else if (res && res.error) {\n  reply = `Image generation failed: ${res.error}`;\n} else if (res && res.urls && res.urls.get) {\n  reply = `Image is still rendering \u2014 check back here: ${res.urls.get}`;\n} else {\n  reply = `Unexpected response from Replicate: \\`${JSON.stringify(res).slice(0, 400)}\\``;\n}\n\nreturn [{ json: { ...router, imageUrl, commandReply: reply } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        656
      ],
      "id": "31000000-0000-0000-0000-000000000001",
      "name": "Parse Replicate Reply"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.commandReply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        0,
        656
      ],
      "id": "32000000-0000-0000-0000-000000000001",
      "name": "Reply Image",
      "webhookId": "c2d9a714-3401-4b29-9b1e-d4e8a7c93abe",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.PERPLEXITY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'sonar', messages: [{ role: 'user', content: $json.searchQuery }], return_citations: true }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        848
      ],
      "id": "40000000-0000-0000-0000-000000000001",
      "name": "Call Perplexity"
    },
    {
      "parameters": {
        "jsCode": "// Extract Perplexity's answer + citations and format a Discord reply.\nconst router = $('Channel Router').first().json;\nconst res    = $input.item.json;\n\nlet answer = '';\ntry {\n  answer = res.choices[0].message.content || '';\n} catch (_) { answer = ''; }\n\nconst citations = Array.isArray(res.citations) ? res.citations : [];\n\nlet reply = `\ud83d\udd0e **${router.searchQuery}**\\n\\n${answer.trim()}`;\nif (citations.length) {\n  const cited = citations.slice(0, 5).map((u, i) => `${i + 1}. ${u}`).join('\\n');\n  reply += `\\n\\n**Sources:**\\n${cited}`;\n}\nif (!answer) {\n  reply = `Search failed: \\`${JSON.stringify(res).slice(0, 400)}\\``;\n}\nif (reply.length > 1950) reply = reply.slice(0, 1950) + '\u2026';\n\nreturn [{ json: { ...router, commandReply: reply } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        848
      ],
      "id": "41000000-0000-0000-0000-000000000001",
      "name": "Parse Perplexity Reply"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.commandReply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        0,
        848
      ],
      "id": "42000000-0000-0000-0000-000000000001",
      "name": "Reply Search",
      "webhookId": "d3e9a714-4501-4b29-9b1e-d4e8a7c93abe",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-should-respond",
              "leftValue": "={{ $json.shouldRespond }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6aa8acb5-100d-43bc-9a04-e26eabfaacdb",
      "name": "Should Respond?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -672,
        1040
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content, discord_user_id, discord_username, created_at\nFROM discord_conversations\nWHERE {{ $('Channel Router').first().json.historyScope === 'user' ? \"discord_user_id = '\" + $('Channel Router').first().json.userId + \"' AND \" : '' }}{{ $('Channel Router').first().json.isThread ? \"thread_id = '\" + $('Channel Router').first().json.threadId + \"'\" : \"channel_id = '\" + $('Channel Router').first().json.channelId + \"' AND thread_id IS NULL\" }}\nORDER BY created_at DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "ce3cafbb-2902-4c53-8eab-4f1347230a92",
      "name": "Fetch Conversation History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -448,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, scope, visibility_scope, channel_name, content\nFROM user_memories\nWHERE discord_user_id = '{{ $('Channel Router').first().json.userId }}'\n  AND (\n    channel_name = '{{ $('Channel Router').first().json.channelName }}'\n    OR visibility_scope = 'shared'\n    OR (visibility_scope = 'private' AND '{{ $('Channel Router').first().json.channelName }}' IN ('jake-personal','fig','jake-ask','loubi-personal','wis','loubi-ask','joce-personal','joce-school','joce-ask','nana-personal','nana-ask'))\n    OR (visibility_scope = 'dm' AND '{{ $('Channel Router').first().json.isDm }}' = 'true')\n  )\nORDER BY created_at DESC\nLIMIT 50;",
        "options": {}
      },
      "id": "ce3cafbb-2902-4c53-8eab-4f1347230aa1",
      "name": "Fetch User Memories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -224,
        960
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build the Anthropic /v1/messages request body.\n//\n// Upstream wiring:\n//   Fetch Conversation History (Postgres) \u2014 newest-first rows, we reverse\n//   Fetch User Memories (Postgres)        \u2014 oldest-first rows, we inject as system-prompt facts\n//   Channel Router                         \u2014 persona, model, identity, historyScope, userName\n//   Merge Attachment Branches              \u2014 carries content_blocks (images/PDFs) forward\n//\n// This node is downstream of \"Fetch User Memories\" so $input.all() returns\n// the memory rows. Conversation history comes through $('Fetch Conversation History').\n//\n// Speaker attribution: when router.historyScope === 'channel' (shared\n// channels like #food, #family, etc.) we prefix user turns with the\n// speaker's display name so Claude can tell speakers apart. Assistant turns\n// are never prefixed (Bruce always speaks as Bruce).\n//\n// Defensive filter: history rows with empty content are dropped. This\n// guards against legacy image-only rows stored with content='' before\n// Channel Router's contentForPersist was introduced.\n\n// Self-context: injected for Jake's channels only.\nconst SELF_CONTEXT_CHANNELS = ['jake-personal', 'fig', 'jake-ask'];\nconst SELF_CONTEXT = `<bruce_system_context>\n# Bruce System Context\n\nUse this when helping Jake build, debug, or extend the household AI system.\n\n## Infrastructure\n\n- VPS: 147.182.142.176, Ubuntu 24.04\n- Reverse proxy: Caddy (host, not Docker)\n- Docker services: postgres 16, n8n 1.84.3, open-webui, discord-relay, watchtower\n- Domain: creativeoutletcoding.com \u2014 subdomains: n8n.creativeoutletcoding.com, chat.creativeoutletcoding.com\n- GitHub: creativeoutletcoding-lang/household-ai (main branch)\n\n## Discord\n\n- Server ID: 1495249842778148954\n- Bot ID: 1495252972026859520\n- Categories: SHARED, FAM, CPS, JAKE, LOUBI, JOCE, NANA\n- Behavior modes: always-respond (Jake/family channels), mention-only (shared channels)\n\n## Workflow Architecture\n\n~48 nodes in \\`workflows/discord-bruce.json\\`. High-level flow:\n\n\\`\\`\\`\nWebhook \u2192 Unwrap Body \u2192 Fetch User Preference \u2192 Channel Router\n  \u2192 Command Switch (10 outputs):\n      0: /use         \u2192 Set Model \u2192 Reply Confirmation\n      1: /remember    \u2192 Insert Memory \u2192 Reply Confirmation\n      2: /forget      \u2192 Delete Memory \u2192 Reply Confirmation\n      3: /memories    \u2192 Fetch Memories \u2192 Reply List\n      4: /clear       \u2192 Delete History \u2192 Reply Confirmation\n      5: /image       \u2192 Build Image Request \u2192 Call Replicate \u2192 Reply Image\n      6: /search      \u2192 Build Search Request \u2192 Call Perplexity \u2192 Reply Search\n      7: /calendar    \u2192 Build Skylight Request \u2192 Authenticate Skylight \u2192 Call Skylight API \u2192 Parse Skylight Reply \u2192 Reply Calendar\n      8: reply-only   \u2192 Reply on Discord (no Claude call)\n      9: default chat \u2192 Should Respond? \u2192 Detect Search Intent \u2192 Auto-Search IF\n                          \u2192 (true) Auto-Search Perplexity \u2198\n                          \u2192 (false) \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2192 Fetch Conversation History\n                                                         \u2192 Fetch Memories\n                                                         \u2192 Build Claude Request\n                                                         \u2192 Call Claude\n                                                         \u2192 Parse Claude Reply\n                                                         \u2192 Reply on Discord\n                                                         \u2192 Persist User Message\n                                                         \u2192 Persist Assistant Message\n\\`\\`\\`\n\n## Key Implementation Details\n\n- Personas are INLINE in the Channel Router Code node (not loaded from .md files)\n- \\`alwaysOutputData: true\\` on Fetch User Preference, Fetch Conversation History, Fetch Memories\n- Persist Assistant Message reads from \\`\\$('Parse Claude Reply').first().json\\`\n- All reply nodes use: \\`{{ \\$('Unwrap Body').first().json.thread_id || \\$('Unwrap Body').first().json.channel_id }}\\`\n- Replicate auth uses \\`Token\\` prefix (not \\`Bearer\\`)\n- Build Claude Request conditionally prepends self-context for jake-personal, fig, jake-ask channels\n\n## Postgres Schema\n\nDatabase: household (via credential ID \\`EHBRO07aceirmFzt\\`)\n\n\\`\\`\\`sql\ndiscord_conversations(id, guild_id, channel_id, user_id, role, content, created_at)\nuser_model_preferences(guild_id, channel_id, user_id, model, updated_at)\nuser_memories(id, guild_id, user_id, memory, created_at)\n\\`\\`\\`\n\n## Credentials\n\n| Service | Credential Name | ID |\n|---|---|---|\n| Postgres | Household Postgres | EHBRO07aceirmFzt |\n| Discord | Discord Bot account | om7VabWMiA8gC2i3 |\n\nEvery Postgres node must use \\`EHBRO07aceirmFzt\\`. Every Discord node must use \\`om7VabWMiA8gC2i3\\`.\n\n## Environment Variables (.env + docker-compose environment block)\n\n\\`\\`\\`\nANTHROPIC_API_KEY, REPLICATE_API_TOKEN, PERPLEXITY_API_KEY\nDISCORD_BOT_TOKEN, DISCORD_SERVER_ID, DISCORD_BOT_USER_ID\nSKYLIGHT_EMAIL, SKYLIGHT_PASSWORD, SKYLIGHT_FRAME_ID, SKYLIGHT_TIMEZONE\nN8N_BLOCK_ENV_ACCESS_IN_NODE=false\n\\`\\`\\`\n\nn8n env vars require: (a) entry in \\`.env\\`, (b) mapping in docker-compose \\`environment:\\` block, (c) \\`N8N_BLOCK_ENV_ACCESS_IN_NODE: \"false\"\\`.\n\n## Key File Paths\n\n\\`\\`\\`\ndocker-compose.yml          \u2014 service definitions\n.env                        \u2014 secrets (not in git)\nconfig/channel-routing.json \u2014 channel \u2192 persona/behavior mapping\nworkflows/discord-bruce.json \u2014 main n8n workflow (import via UI)\nprompts/                    \u2014 persona/context files (reference only; not runtime-loaded)\nrunbook.md                  \u2014 operational runbook\n\\`\\`\\`\n\n## Commands\n\n| Command | Description |\n|---|---|\n| /use [model] | Switch model: haiku, sonnet, opus |\n| /remember <fact> | Save long-term memory |\n| /forget <fact> | Delete a memory |\n| /memories | List saved memories |\n| /clear | Clear conversation history |\n| /image <prompt> | Generate image via Flux Schnell |\n| /image --hd <prompt> | HD image via Flux Pro |\n| /search <query> | Web search via Perplexity |\n| /calendar | View/manage Skylight family calendar |\n\n## Model Strings\n\n- Haiku: \\`claude-haiku-4-5-20251001\\`\n- Sonnet: \\`claude-sonnet-4-6\\`\n- Opus: \\`claude-opus-4-7\\`\n\n## Calendar (Skylight)\n\nDirect API \u2014 no MCP sidecar. Auth flow in n8n Code node:\n- Login: POST to Skylight OAuth endpoint using \\`SKYLIGHT_EMAIL\\` / \\`SKYLIGHT_PASSWORD\\`\n- Token cached in \\`\\$workflow.staticData\\` with expiry check\n- On 401: clear cache, re-authenticate\n- Frame ID from \\`SKYLIGHT_FRAME_ID\\`\n- Timezone from \\`SKYLIGHT_TIMEZONE\\` (default: America/New_York)\n\n## Family\n\n| Name | Role | Location |\n|---|---|---|\n| Jake | Admin / builder | Falls Church / Merrifield, VA |\n| Laurianne (Loubi) | Partner | WIS (Wisconsin) |\n| Joce | Daughter, high school | \u2014 |\n| Nana | Grandma (CPS category) | \u2014 |\n| Elliot, Henry, Violette | Calendar only | \u2014 |\n\n## Top Gotchas\n\n1. Credential IDs must be hardcoded \u2014 they silently revert to \\`{}\\` after workflow reimport\n2. Guild ID and Bot ID must be hardcoded strings, never env var references\n3. \\`alwaysOutputData: true\\` required on Fetch nodes (prevents branch abort on empty result)\n4. Persist Assistant Message must reference \\`\\$('Parse Claude Reply').first().json\\`, not \\`\\$json\\`\n5. Replicate API uses \\`Token\\` prefix, not \\`Bearer\\`\n6. Personas are inline in Channel Router \u2014 editing .md files has no runtime effect\n7. n8n env vars need 3-step setup (.env + compose + N8N_BLOCK_ENV_ACCESS_IN_NODE)\n8. Reply nodes must use thread_id fallback expression for private thread support\n9. Workflow changes require manual reimport via n8n UI (no hot-reload)\n10. After reimport, always verify all credentials are filled \u2014 they silently revert\n\n</bruce_system_context>`;\n\n\n\nconst DEV_CONTEXT_CHANNELS = ['jake-personal'];\nconst DEV_CONTEXT = `<bruce_dev_context>\n# Bruce Development Context\n\nInjected into Jake's channels (jake-personal, fig, jake-ask) so Bruce can help plan, debug, and extend himself. This is institutional memory, not just facts.\n\n---\n\n## Architecture Decisions and Rationale\n\n### Why custom discord-relay instead of n8n Discord Trigger\nThe n8n community Discord Trigger node was unreliable \u2014 dropped messages, missed events, no thread support. A custom discord.js Gateway relay (discord-relay/index.js) was built instead. It normalizes payloads, handles threads, shows typing indicators, and POSTs to n8n's webhook. This is load-bearing infrastructure \u2014 do not suggest replacing it with native n8n nodes.\n\n### Why personas are inline in Channel Router, not .md files\nn8n Code nodes cannot read files from disk at runtime. Early attempts to reference prompts/channel-personas/*.md files failed silently. All persona content lives inside the Channel Router node's PERSONAS object in the workflow JSON. The .md files in prompts/channel-personas/ exist for documentation only \u2014 they are NOT read by the workflow. Any persona edit must happen in the Channel Router Code node inside discord-bruce.json.\n\n### Why Haiku for auto memory extraction\nCost. Memory extraction runs on every conversation turn as a background call after the main reply is sent. Using Sonnet or Opus for this would double the API cost with no meaningful quality improvement \u2014 Haiku reliably extracts structured facts from conversation context. The extraction prompt is tuned to err on the side of capturing rather than skipping.\n\n### Why cross-scope dedup on memories\nThe unique index is on (discord_user_id, LOWER(content)) with no scope column. A fact is a fact regardless of whether it came from /remember (scope='channel') or auto extraction (scope='auto'). If Jake /forgets a memory (hard DELETE), the auto extractor can re-learn it naturally in a future conversation \u2014 the index no longer blocks after the row is gone.\n\n### Why direct Skylight API instead of MCP container\nThe @eaglebyte/skylight-mcp package uses stdio JSON-RPC transport, not HTTP. When containerized, it boots, authenticates, then waits on stdin \u2014 no HTTP server to call from n8n. The container would restart in a loop. The fix is calling Skylight's API directly from n8n Code nodes using the OAuth flow from fergbrain's auth-update fork (PR #39 on TheEagleByte/skylight-mcp).\n\n### Why Google Calendar was deferred\nSkylight is the family's source of truth for calendar data. Google Calendar was empty and Skylight's two-way sync doesn't retroactively push existing events. Rather than fight the sync or manually re-enter events, Bruce connects to Skylight directly. Google Calendar may be revisited if Skylight's API becomes unstable (it's unofficial and reverse-engineered).\n\n### Why workflow import via script instead of UI\nThe n8n UI import requires manual credential verification on every node after import \u2014 credentials silently revert to {}. The import script (scripts/import-workflow.js) pushes via the n8n REST API and validates credential IDs programmatically. Always use N8N_BASE_URL=http://127.0.0.1:5678 on the VPS \u2014 Node 18's fetch implementation fails with localhost.\n\n---\n\n## Failure Log \u2014 Things That Broke and How They Were Fixed\n\n### Credential revert on workflow reimport\n**Symptom:** Workflow imported cleanly but all API calls fail silently.\n**Cause:** n8n clears credential bindings on import. Every Postgres and Discord node reverts to {}.\n**Fix:** After every reimport, verify credentials on all nodes. The import script checks this automatically. Credential IDs: Postgres=EHBRO07aceirmFzt, Discord=om7VabWMiA8gC2i3.\n\n### Empty content poisoning conversation history\n**Symptom:** Claude API rejects requests with \"messages.N: user messages must have non-empty content.\"\n**Cause:** Image-only messages were stored with content='' in discord_conversations. When replayed as history, the empty row broke the next Claude call.\n**Fix:** Channel Router now substitutes '[shared an image or file]' via contentForPersist. Build Claude Request filters out any remaining empty rows with a defensive filter.\n\n### Bot mention detection failing silently\n**Symptom:** Bruce doesn't respond in mention-only channels even when @mentioned.\n**Cause:** Using \\$env.DISCORD_BOT_USER_ID which silently returns undefined in n8n expressions.\n**Fix:** Hardcode bot user ID 1495252972026859520 everywhere. Same for guild ID 1495249842778148954. Never use \\$env for these.\n\n### Persist Assistant Message reading wrong data\n**Symptom:** Assistant replies stored as {success: true} instead of actual content.\n**Cause:** Node was reading \\$json (output of Persist User Message = {success: true}) instead of reaching back to Parse Claude Reply.\n**Fix:** Always use \\$('Parse Claude Reply').first().json for the assistant content.\n\n### Auto memory extraction not saving (scope='auto' rejected)\n**Symptom:** Memory extraction pipeline runs end-to-end but INSERT fails silently.\n**Cause:** Postgres CHECK constraint only allowed scope='user' and scope='channel'. The 'auto' value was rejected.\n**Fix:** Migration 006 drops and recreates both check constraints to allow 'user', 'channel', and 'auto'. Insert Auto Memory node now has ON CONFLICT (discord_user_id, LOWER(content)) DO NOTHING.\n\n### n8n dbTime.getTime log spam\n**Symptom:** Container logs flooded with \"TypeError: dbTime.getTime is not a function\" from WaitTracker.\n**Cause:** n8n :latest pulled a version with a Postgres timestamp compatibility bug.\n**Fix:** Pin n8n version in docker-compose.yml via N8N_VERSION env var. Currently pinned to 2.16.1.\n\n### Watchtower silently upgraded n8n, breaking rollback\n**Symptom:** After running \\`docker compose up -d --build discord-relay\\`, n8n login failed with \\`column User.role does not exist\\`.\n**Cause:** Watchtower had auto-upgraded n8n from 1.84.3 \u2192 2.16.1, which ran DB migrations that renamed \\`role\\` \u2192 \\`roleSlug\\` (with FK). The compose up re-pulled the \\`1.84.3\\` tag (which Docker Hub had updated to a new build) and reverted the container, but the DB schema was now incompatible with 1.84.3's entity model.\n**Fix:** Removed watchtower entirely. Pinned N8N_VERSION=2.16.1 in .env. All service updates are now manual. \\`docker compose up -d --build <service>\\` re-pulls other service images too \u2014 always confirm version pins before running it.\n\n### Node 18 fetch fails with localhost on VPS\n**Symptom:** Scripts using fetch('http://localhost:5678/...') fail with \"fetch failed\".\n**Cause:** Ubuntu's Node 18 package has a known issue resolving localhost.\n**Fix:** Always use 127.0.0.1 instead of localhost. Example: N8N_BASE_URL=http://127.0.0.1:5678.\n\n### Replicate API auth failure\n**Symptom:** /image command returns 401.\n**Cause:** Replicate uses Token prefix, not Bearer.\n**Fix:** Auth header in Call Replicate node must be \"Token {{ \\$env.REPLICATE_API_TOKEN }}\", not \"Bearer\".\n\n### Thread replies going to parent channel\n**Symptom:** Command responses (/search, /image, etc.) appear in the parent channel when used inside a thread.\n**Cause:** Reply nodes were using Channel Router's channelId which points to the parent. Thread replies need to go to threadId.\n**Fix:** All Discord reply nodes must use: {{ thread_id || channelId }} pattern.\n\n---\n\n## Build Patterns\n\n### Adding a new slash command\n1. Add detection in Channel Router's CMD_RE regex and command parsing block\n2. Add a new output on Command Switch (increment the output index)\n3. Wire: Command Switch output \u2192 action nodes \u2192 Reply node\n4. Reply node must use thread_id || channelId for the Channel field\n5. Hardcode guild ID 1495249842778148954 and Discord credential om7VabWMiA8gC2i3\n6. If it touches Postgres, use credential EHBRO07aceirmFzt\n7. Run validate-workflow.js after changes\n8. Import with: N8N_API_KEY=... N8N_BASE_URL=http://127.0.0.1:5678 node scripts/import-workflow.js\n\n### Adding a new Postgres table\n1. Create migration file: postgres/migrations/NNN-description.sql\n2. Apply manually: docker exec household-postgres psql -U household -d n8n -c \"...\"\n3. Migration file is for tracking/redeployment \u2014 apply live SQL first, commit file after\n\n### Editing personas\n1. Edit the PERSONAS object inside Channel Router's Code node in discord-bruce.json\n2. Do NOT edit prompts/channel-personas/*.md \u2014 those are documentation only\n3. Reimport the workflow after changes\n\n### Deploying workflow changes\n1. Edit \\`workflows/discord-bruce.json\\` locally (Windows dev machine at \\`C:\\\\dev\\\\household-ai\\`)\n2. Run \\`node validate-workflow.js\\` \u2014 confirm no MISSING values\n3. Commit and push from Windows:\n   \\`\\`\\`bash\n   git add workflows/discord-bruce.json\n   git commit -m \"...\"\n   git push\n   \\`\\`\\`\n4. Pull on VPS:\n   \\`\\`\\`bash\n   ssh root@147.182.142.176 \"cd ~/household-ai && git pull\"\n   \\`\\`\\`\n5. Import on VPS:\n   \\`\\`\\`bash\n   ssh root@147.182.142.176 \"cd ~/household-ai && N8N_API_KEY=\\\\\\$(grep N8N_API_KEY .env | cut -d= -f2) N8N_BASE_URL=http://127.0.0.1:5678 node scripts/import-workflow.js\"\n   \\`\\`\\`\n6. Verify: send a test message in Discord, check \\`docker compose logs -f n8n\\`\n\n### Env var access in n8n\nThree things must be true for \\$env.VAR_NAME to work in n8n:\n1. Variable exists in .env file\n2. Variable is mapped in docker-compose.yml under the n8n service's environment: block\n3. N8N_BLOCK_ENV_ACCESS_IN_NODE is set to \"false\"\nMissing any one of these causes silent failure \u2014 \\$env returns undefined with no error.\n\n---\n\n## Project State\n\n### What's shipped and working\n- Discord relay with typing indicators, thread support, attachment handling\n- Channel routing with 18 channels across 7 categories\n- 13 inline personas (general, family, fig, jake-personal, ask, travel, food, cps, loubi-personal, wis, joce-personal, joce-school, nana-personal)\n- Commands: /use, /remember, /forget, /memories, /clear, /image, /image --hd, /search\n- Auto memory extraction via Haiku (post-conversation, background)\n- Cross-channel memory (all memories for a user, regardless of channel)\n- Duplicate memory prevention (unique index + ON CONFLICT DO NOTHING)\n- Conversation history with speaker attribution in shared channels\n- Date/time context in every system prompt\n- Current speaker identification\n- Document/image vision via Claude (attachments converted to content blocks)\n- Workflow import/deploy scripts\n\n### What's in progress or recently added\n- Skylight calendar direct API integration (replacing failed MCP approach)\n- Auto-search detection (Perplexity triggered by real-time queries)\n- Bruce self-context injection for Jake's channels\n- Thread_id fix across all command reply nodes\n\n### What's pending (not started)\n- /save-recipe and /recipes commands (new Postgres table + workflow branches)\n- Proactive reminders (scheduled Bruce messages \u2014 needs scheduler design)\n- Email integration (iCloud \u2192 Gmail forwarding \u2192 n8n Gmail nodes)\n- Nana Discord onboarding (ID: 1495888856078225528, categories exist, needs View Channel permission)\n- Joce Discord onboarding (ID: 638831837245997066, same process)\n- GitHub Actions CI/CD (auto-deploy on push)\n- Postgres nightly backup strategy\n- Tailscale for remote VPS access\n- Mac Mini M5 Pro migration (expected Sept-Oct 2026)\n- Rotate exposed Replicate API key\n- Discord thread auto-archive configuration (script exists at scripts/set-thread-archive.js; needs Manage Channels permission granted to bot first)\n\n### Key people\n- Jake (1495249206087127052) \u2014 server admin, Account Executive at FIG, runs CPS with Nana, primary builder\n- Loubi/Laurianne \u2014 works at Washington International School, onboarded to Discord\n- Joce (638831837245997066) \u2014 high school student, Open WebUI account created, Discord placeholder channels ready\n- Nana (1495888856078225528) \u2014 runs CPS with Jake, needs Discord onboarding\n- Elliot, Henry, Violette \u2014 younger kids, calendar profiles only\n\n---\n\n## Tool Delegation\n\n- **Claude Code (primary execution tool):** All file editing, git operations, SSH to VPS, workflow JSON changes, script writing and execution, deploy. Claude Code is the primary tool for building and changing the system \u2014 not just a helper.\n- **Claude.ai Project (\"Household AI\"):** Architecture decisions, debugging strategy, planning, reviewing output, project state tracking. Use for thinking through problems; use Claude Code to execute.\n- **n8n UI (https://n8n.creativeoutletcoding.com):** Credential management, workflow visualization, manual testing, API key generation\n- **Discord:** Testing Bruce's responses, onboarding family members, permission management\n\n</bruce_dev_context>`;\n\n// Auto-fetch: Jina Reader (URL) or Perplexity (keyword search), whichever ran upstream.\nlet autoSearchBlock = '';\ntry {\n  const autoSearchData = $('Detect Search Intent').first().json;\n  if (autoSearchData && autoSearchData.has_url) {\n    // Jina Reader path\n    try {\n      const jinaText = ($('Fetch Jina Reader').first().json.data || '').trim();\n      if (jinaText) {\n        const truncated = jinaText.length > 8000\n          ? jinaText.slice(0, 8000) + '\\n...[truncated]'\n          : jinaText;\n        autoSearchBlock =\n          '\\n\\n<page_content>\\n' +\n          'The following page was automatically fetched for context:\\n' +\n          'URL: ' + autoSearchData.url_to_fetch + '\\n' +\n          'Content:\\n' + truncated + '\\n' +\n          'Page content is already included above. Do not suggest the user open the link ' +\n          'themselves \u2014 you already have the content. If the content seems incomplete or ' +\n          'unrelated, say so directly.\\n' +\n          'When citing the URL in your response, wrap it in angle brackets like ' +\n          '<https://example.com> to prevent Discord from embedding it as a rich preview.\\n' +\n          '</page_content>';\n      }\n    } catch(_) {}\n  } else if (autoSearchData && autoSearchData.needs_search) {\n    // Perplexity path\n    const perplexityRes = $('Auto-Search Perplexity').first().json;\n    let searchAnswer = '';\n    try { searchAnswer = perplexityRes.choices[0].message.content || ''; } catch(_) {}\n    if (searchAnswer) {\n      const urlRe = new RegExp('(^|[\\\\s(])(https?://[^\\\\s<>\"]+)', 'g');\n      const searchAnswerWrapped = searchAnswer.replace(urlRe, function(_, pre, url) {\n        return pre + '<' + url + '>';\n      });\n      autoSearchBlock =\n        '\\n\\n<auto_search_results>\\n' +\n        'The following web search was automatically performed for context:\\n' +\n        'Query: ' + autoSearchData.search_query + '\\n' +\n        'Results: ' + searchAnswerWrapped + '\\n' +\n        'Auto-search results are already included above. Do not suggest the user ' +\n        'run /search manually or check external apps \u2014 you already have the data. ' +\n        'If the data is incomplete, say so directly without redirecting the user elsewhere.\\n' +\n        'When citing any URLs in your response, always wrap them in angle brackets ' +\n        'like <https://example.com> to prevent Discord from embedding them as rich previews.\\n' +\n        '</auto_search_results>';\n    }\n  }\n} catch(_) {}\n\nconst router = $('Channel Router').first().json;\nconst isShared = router.historyScope === 'channel';\n\nconst historyRows = $('Fetch Conversation History').all()\n  .map(i => i.json)\n  .reverse()\n  .filter(r => r && (r.role === 'user' || r.role === 'assistant'))\n  .filter(r => r.content != null && String(r.content).trim().length > 0);\nconst memoryRows  = $input.all()\n  .map(i => i.json)\n  .filter(r => r && r.content);\n\n// Memory block \u2014 injected into system prompt if there are any.\nlet memoryBlock = '';\nif (memoryRows.length) {\n  const bullets = memoryRows.map(r => `- ${r.content}`).join('\\n');\n  memoryBlock = `\\n\\n<long_term_memory>\\nThe user has asked you to remember these facts. Use them in your reply when relevant; do not quote them back verbatim unless asked.\\n${bullets}\\n</long_term_memory>`;\n}\n\n// Shared-channel note: tell Claude that user turns are prefixed.\nconst sharedNote = isShared\n  ? `\\n\\n<channel_context>\\nThis is a shared channel with multiple people. Each user turn is prefixed with the speaker's name (e.g. \"Jake: ...\"). Address people by name when appropriate. Your own replies are not prefixed.\\n</channel_context>`\n  : '';\n\n// Current date/time in household timezone. Injected so Bruce always knows\n// the day/time without the user having to say.\nconst now = new Date();\nconst dateStr = now.toLocaleString('en-US', {\n  weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',\n  hour: 'numeric', minute: '2-digit',\n  timeZone: 'America/New_York',\n  timeZoneName: 'short',\n});\nconst dateBlock = `\\n\\n<current_time>\\nIt is currently ${dateStr}.\\n</current_time>`;\n\nconst locationBlock = `\\n\\n<location>\\nUser's location: Falls Church, VA 22042 (Northern Virginia, near Washington DC).\\nWhen making local recommendations, use this location for relevance. When using search, include this location in the query.\\n</location>`;\n\n// Current speaker: who Bruce is talking to RIGHT NOW. Injected on every\n// run (shared or private channel) so Bruce always knows who he's\n// addressing and never asks \"who are you?\" in a private channel.\nconst currentSpeakerBlock = `\\n\\n<current_speaker>\\nYou are currently speaking with ${router.userName || 'someone'}. Address them by this name. Their Discord user ID is ${router.userId || 'unknown'}. Do not ask who they are \u2014 they have already been identified.\\n</current_speaker>`;\n\nconst selfContextPrefix = SELF_CONTEXT_CHANNELS.includes(router.channelName) ? SELF_CONTEXT + '\\n\\n' : '';\nconst devContextPrefix = DEV_CONTEXT_CHANNELS.includes(router.channelName) ? DEV_CONTEXT + '\\n\\n' : '';\nconst systemPrompt = devContextPrefix + selfContextPrefix + (router.systemPrompt || '') + currentSpeakerBlock + memoryBlock + sharedNote + dateBlock + locationBlock + autoSearchBlock + '\\n\\nWhen citing URLs in your response, always wrap them in angle brackets like <https://example.com> to prevent Discord from displaying rich embed previews.';\n\n// Speaker prefix helper \u2014 pre-migration rows have NULL discord_username, so\n// fall back to a short user-id tag.\nfunction labelUser(r) {\n  const name = r.discord_username\n    || (r.discord_user_id ? `user-${String(r.discord_user_id).slice(-4)}` : 'someone');\n  return `${name}: ${r.content}`;\n}\n\nconst messages = historyRows.map(r => {\n  if (isShared && r.role === 'user') {\n    return { role: 'user', content: labelUser(r) };\n  }\n  return { role: r.role, content: r.content };\n});\n\n// Pull image/PDF content blocks forwarded by Merge Attachment Branches.\n// Empty array when the user didn't upload anything (false branch of Has\n// Attachments injects content_blocks: []).\nlet contentBlocks = [];\ntry {\n  const merged = $('Merge Attachment Branches').first().json;\n  contentBlocks = Array.isArray(merged && merged.content_blocks) ? merged.content_blocks : [];\n} catch (_) { /* merge node absent \u2014 ignore */ }\n\nconst userText = router.content || '';\nconst fallbackText = 'Please analyze the attached file(s).';\nconst baseText = userText.trim().length > 0\n  ? userText\n  : (contentBlocks.length > 0 ? fallbackText : '');\n\n// In shared channels, prefix the CURRENT user's turn too so Claude can\n// attribute the live question.\nconst currentText = (isShared && baseText.length > 0)\n  ? `${router.userName || 'someone'}: ${baseText}`\n  : baseText;\n\n// When attachments are present, Anthropic expects a content-block array\n// (images/docs first, text last). Otherwise keep the legacy string form so\n// downstream shape is unchanged for the text-only path.\nconst userContent = contentBlocks.length > 0\n  ? [...contentBlocks, { type: 'text', text: currentText }]\n  : currentText;\n\nmessages.push({ role: 'user', content: userContent });\n\n// Defense in depth: drop any message whose content is empty/whitespace.\n// The Anthropic API rejects the whole request with `messages.N: user\n// messages must have non-empty content` if even one is bad, so a single\n// legacy empty row from before the contentForPersist fallback was in\n// place would poison the run. Handles both the string-content form and\n// the content-block-array form (where we require at least one non-empty\n// text block or a non-text block like an image).\nconst filteredMessages = messages.filter(m => {\n  if (typeof m.content === 'string') {\n    return m.content.trim().length > 0;\n  }\n  if (Array.isArray(m.content) && m.content.length > 0) {\n    return m.content.some(b =>\n      (b.type !== 'text') || (typeof b.text === 'string' && b.text.trim().length > 0)\n    );\n  }\n  return false;\n});\n\nconst droppedCount = messages.length - filteredMessages.length;\nif (droppedCount > 0) {\n  console.log(`[build-claude] dropped ${droppedCount} empty message(s) from history`);\n}\n\nreturn [{\n  json: {\n    ...router,\n    memoryCount: memoryRows.length,\n    attachmentCount: contentBlocks.length,\n    historyRowCount: historyRows.length,\n    droppedEmptyMessages: droppedCount,\n    requestBody: {\n      model: router.model || $env.ANTHROPIC_MODEL || 'claude-sonnet-4-6',\n      max_tokens: 1024,\n      system: systemPrompt,\n      messages: filteredMessages,\n    },\n  }\n}];\n"
      },
      "id": "1a1b0b86-225c-4921-91b1-075f722f5b5b",
      "name": "Build Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "1a5b7340-3b5a-4d26-8fd2-0c40a49e4725",
      "name": "Call Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract Claude's reply text. Split into \u22641900-char chunks so Discord's\n// 2000-char limit is never hit. Multiple items \u2192 Discord node sends N messages.\nconst router = $('Channel Router').first().json;\nconst apiRes = $input.item.json;\n\nconst reply = (apiRes.content || [])\n  .filter(function(c) { return c.type === 'text'; })\n  .map(function(c) { return c.text; })\n  .join('\\n\\n')\n  .trim();\n\nif (!reply) {\n  throw new Error('Empty reply from Claude \u2014 check response shape: ' + JSON.stringify(apiRes).slice(0, 500));\n}\n\nfunction splitChunks(text, maxLen) {\n  if (text.length <= maxLen) return [text];\n  const chunks = [];\n  let rest = text;\n  while (rest.length > maxLen) {\n    let cut = rest.lastIndexOf('\\n\\n', maxLen);\n    if (cut < maxLen * 0.6) cut = rest.lastIndexOf('\\n', maxLen);\n    if (cut < maxLen * 0.6) cut = rest.lastIndexOf('. ', maxLen);\n    if (cut < 0 || cut < maxLen * 0.3) cut = maxLen;\n    chunks.push(rest.slice(0, cut).trimEnd());\n    rest = rest.slice(cut).trimStart();\n  }\n  if (rest.length) chunks.push(rest);\n  return chunks;\n}\n\nconst chunks = splitChunks(reply, 1900);\nreturn chunks.map(function(chunk) {\n  return { json: { ...router, reply: reply, replyTruncated: chunk } };\n});"
      },
      "id": "e39f7465-11ba-458e-a156-a5bad4fabd62",
      "name": "Parse Claude Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        960
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.replyTruncated }}",
        "options": {}
      },
      "id": "2daf24a2-e7ea-4b5e-b7ba-45c3abd30f46",
      "name": "Reply on Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        672,
        960
      ],
      "webhookId": "f77477f4-6cfe-4593-ba6b-5acee998810c",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO discord_conversations\n  (message_id, discord_user_id, discord_username, channel_id, channel_name, thread_id, thread_name, role, content)\nSELECT\n  '{{ $json.messageId }}',\n  '{{ $json.userId }}',\n  '{{ ($json.userName || '').replace(/'/g, \"''\") }}',\n  '{{ $json.channelId }}',\n  '{{ $json.channelName }}',\n  {{ $json.isThread ? \"'\" + $json.threadId + \"'\"     : 'NULL' }},\n  {{ $json.isThread ? \"'\" + $json.threadName + \"'\"   : 'NULL' }},\n  'user',\n  '{{ ($json.contentForPersist || '').replace(/'/g, \"''\") }}'\nWHERE length(trim('{{ ($json.contentForPersist || '').replace(/'/g, \"''\") }}')) > 0\n  AND '{{ $('Channel Router').first().json.skipPersist }}' != 'true'\nON CONFLICT (message_id) DO UPDATE\n  SET content = EXCLUDED.content,\n      discord_username = EXCLUDED.discord_username\n  WHERE length(trim(EXCLUDED.content)) > 0;",
        "options": {}
      },
      "id": "2d670e7e-ec76-46fc-af85-4b33fd000901",
      "name": "Persist User Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        672,
        1152
      ],
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO discord_conversations\n  (message_id, discord_user_id, discord_username, channel_id, channel_name, thread_id, thread_name, role, content)\nSELECT\n  '{{ $('Parse Claude Reply').first().json.messageId }}_reply',\n  '{{ $('Parse Claude Reply').first().json.userId }}',\n  'Bruce',\n  '{{ $('Parse Claude Reply').first().json.channelId }}',\n  '{{ $('Parse Claude Reply').first().json.channelName }}',\n  {{ $('Parse Claude Reply').first().json.isThread ? \"'\" + $('Parse Claude Reply').first().json.threadId + \"'\"     : 'NULL' }},\n  {{ $('Parse Claude Reply').first().json.isThread ? \"'\" + $('Parse Claude Reply').first().json.threadName + \"'\" : 'NULL' }},\n  'assistant',\n  '{{ $('Parse Claude Reply').first().json.reply.replace(/'/g, \"''\") }}'\nWHERE '{{ $('Channel Router').first().json.skipPersist }}' != 'true'\nON CONFLICT (message_id) DO UPDATE\n  SET content = EXCLUDED.content,\n      discord_username = EXCLUDED.discord_username;",
        "options": {}
      },
      "id": "e5851681-e225-4d46-8f96-050d537f20b8",
      "name": "Persist Assistant Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        896,
        1152
      ],
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM discord_conversations\nWHERE {{ $json.isThread ? \"thread_id = '\" + $json.threadId + \"'\" : \"channel_id = '\" + $json.channelId + \"' AND thread_id IS NULL\" }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        560
      ],
      "id": "27000000-0000-0000-0000-000000000001",
      "name": "Clear Conversation History",
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ---------------------------------------------------------------------------\n// Build Memory Extraction Request\n//\n// Runs on the default conversation branch only (commands like /image,\n// /search, /clear, /use, /remember, /forget, /memories take separate paths\n// out of Command Switch and never reach here). Fires after Persist Assistant\n// Message so we have a completed exchange to analyze.\n//\n// Asks Haiku to extract durable facts, preferences, decisions, and\n// commitments about the triggering user. Skip duplicates \u2014 the user's\n// existing memories are passed in the prompt so Haiku can avoid\n// re-extracting anything already captured.\n//\n// Shared-channel note: Channel Router's userId is always the webhook\n// payload's author.id \u2014 i.e. the user whose message fired this run. In a\n// shared channel with multiple speakers, only the mentioner triggers Bruce,\n// so we only ever extract memories for that one user.\n// ---------------------------------------------------------------------------\nconst router = $('Channel Router').first().json;\n\nconst existingMemories = $('Fetch User Memories').all()\n  .map(i => i.json)\n  .filter(r => r && r.content)\n  .map(r => r.content);\n\nconst historyRows = $('Fetch Conversation History').all()\n  .map(i => i.json)\n  .reverse()\n  .filter(r => r && (r.role === 'user' || r.role === 'assistant'))\n  .filter(r => r.content != null && String(r.content).trim().length > 0);\n\nconst parsed = $('Parse Claude Reply').first().json;\nconst userMessageText = router.content || '';\nconst assistantReplyText = parsed.reply || '';\nconst speakerName = router.userName || 'the user';\n\n// Last 10 prior turns plus the exchange that just completed.\nconst historyText = historyRows\n  .slice(-10)\n  .map(r => {\n    const who = r.role === 'assistant' ? 'Bruce' : (r.discord_username || speakerName);\n    return `${who}: ${r.content}`;\n  })\n  .join('\\n');\n\nconst existingBlock = existingMemories.length\n  ? existingMemories.map(m => `- ${m}`).join('\\n')\n  : '(none yet)';\n\nconst system = `You are a background memory-curation assistant for Bruce, a household AI. Your job is to extract durable, reusable facts about a specific user from a recent conversation.\n\nErr on the side of CAPTURING rather than skipping. Bruce's job is to feel like a family member who remembers things \u2014 a missed fact is a bigger failure than a redundant one.\n\nALWAYS capture (highest priority \u2014 these are load-bearing for future replies):\n- Health info: allergies, intolerances, medications, conditions, injuries, dietary restrictions (vegan, gluten-free, kosher, halal, etc.)\n- Safety-relevant facts: phobias, triggers, anything a family member would need to know to avoid harm\n- Strong preferences: foods they love or hate, drinks, brands, music, shows, hobbies they care about\n- Relationships: spouse, kids, parents, siblings, pets \u2014 names, ages, roles\n- Work and school: job title, employer, school, grade, major projects, schedule\n- Location: where they live, work, travel often\n- Recurring commitments: weekly appointments, standing plans, routines\n- Dates: birthdays, anniversaries, important upcoming events\n- Decisions and plans they've committed to (\"I'm going to X on Thursday\")\n- Goals and ongoing projects\n\nAlso capture:\n- Communication style preferences they've expressed (\"be blunt with me\", \"don't use emojis\")\n- Tools, services, and accounts they use regularly\n\nSkip:\n- Already captured in existing memories (see below) \u2014 do not re-extract\n- Pure speculation \u2014 only extract what was actually stated or strongly implied\n- One-off task details (\"asked about the weather today\", \"wanted a recipe for dinner\")\n- Generic small-talk with no factual content\n- Facts about OTHER people unless the user's own relationship to them is the fact\n\nOutput format: JSON array of short strings, each a self-contained memory about the user. Write in third person starting with their name or a pronoun. Keep each under 180 characters. Be specific \u2014 \"Jake is allergic to shellfish\" beats \"Jake has an allergy\".\n\nIf nothing new is worth saving, return an empty array: []\n\nOutput ONLY the JSON array \u2014 no markdown, no code fences, no commentary.`;\n\nconst userPrompt = `Existing memories for ${speakerName}:\n${existingBlock}\n\nRecent conversation:\n${historyText}\n${speakerName}: ${userMessageText}\nBruce: ${assistantReplyText}\n\nReturn the JSON array of NEW memories to save for ${speakerName}.`;\n\nreturn [{\n  json: {\n    ...router,\n    memoryRequestBody: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 400,\n      system,\n      messages: [{ role: 'user', content: userPrompt }],\n    },\n  }\n}];\n"
      },
      "id": "70000000-0000-0000-0000-000000000001",
      "name": "Build Memory Extraction Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1152
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.ANTHROPIC_API_KEY }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.memoryRequestBody) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "70000000-0000-0000-0000-000000000002",
      "name": "Call Claude (Memory)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        1152
      ]
    },
    {
      "parameters": {
        "jsCode": "// ---------------------------------------------------------------------------\n// Parse Memory Extract\n//\n// Parses Haiku's JSON array of extracted memories. Emits one item per\n// memory so the downstream Insert node runs once per row. Empty array \u2192 no\n// output (nothing to insert). Parse failures are swallowed, returning [].\n// ---------------------------------------------------------------------------\nconst router = $('Channel Router').first().json;\nconst apiRes = $input.item.json;\nconst speakerName = router.userName || 'the user';\n\nconst text = (apiRes.content || [])\n  .filter(c => c.type === 'text')\n  .map(c => c.text)\n  .join('')\n  .trim();\n\nconsole.log(`[memory] raw text length=${text.length} for ${speakerName}`);\n\nlet memories = [];\ntry {\n  // Strip code fences if the model wrapped output despite instructions.\n  const cleaned = text\n    .replace(/^```(?:json)?\\s*/i, '')\n    .replace(/```\\s*$/i, '')\n    .trim();\n  const parsedArr = JSON.parse(cleaned);\n  if (Array.isArray(parsedArr)) {\n    memories = parsedArr\n      .filter(m => typeof m === 'string')\n      .map(m => m.trim())\n      .filter(m => m.length > 0);\n  } else {\n    console.log(`[memory] parsed JSON was not an array, got ${typeof parsedArr}`);\n  }\n} catch (err) {\n  console.log(`[memory] parse failed: ${err.message} \u2014 raw first 300 chars: ${text.slice(0, 300)}`);\n  memories = [];\n}\n\nif (memories.length === 0) {\n  console.log(`[memory] no new memories extracted for ${speakerName}`);\n} else {\n  console.log(`[memory] extracted ${memories.length} new memories for ${speakerName}: ${JSON.stringify(memories)}`);\n}\n\nreturn memories.map(content => ({\n  json: {\n    ...router,\n    memoryContent: content,\n  }\n}));\n"
      },
      "id": "70000000-0000-0000-0000-000000000003",
      "name": "Parse Memory Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        1152
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_memories\n  (discord_user_id, scope, visibility_scope, channel_id, channel_name, content)\nSELECT\n  '{{ $json.userId }}',\n  'auto',\n  '{{ $('Channel Router').first().json.visibilityScope }}',\n  '{{ $json.memoryScopeId }}',\n  '{{ ($json.memoryScopeName || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.memoryContent || '').replace(/'/g, \"''\") }}'\nWHERE length(trim('{{ ($json.memoryContent || '').replace(/'/g, \"''\") }}')) > 0\n  AND '{{ $('Channel Router').first().json.skipPersist }}' != 'true'\nON CONFLICT (discord_user_id, LOWER(content)) DO NOTHING;",
        "options": {}
      },
      "id": "70000000-0000-0000-0000-000000000004",
      "name": "Insert Auto Memory",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1792,
        1152
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $input.first().json.content || '';\n\n// URL detection \u2014 any message containing a link should auto-search so Bruce can summarise it\nconst hasUrl = /https?:\\/\\//.test(message);\n\nconst searchPatterns = [\n  /near me|near here|near us|around here/i,\n  /\\b(latest|recent|current|right now|happening now|today'?s?)\\b/i,\n  /\\b(this week|this month|this morning|this evening|this afternoon)\\b/i,\n  /\\b(tonight|on tonight|what'?s on tonight)\\b/i,\n  /\\b(breaking|just (happened|announced|released|dropped))\\b/i,\n  /\\b(news|weather|stock|price|update)\\b/i,\n  /\\b(score|scores|game|games|match|matchup|standings|stats)\\b/i,\n  /\\b(nfl|nba|mlb|nhl|mls|espn|playoffs|tournament|bracket)\\b/i,\n  /\\b(who (is|are) (the current|currently|playing|winning))\\b/i,\n  /\\b(where can i|where to|best place|recommend.*restaurant|recommend.*shop)\\b/i,\n  /\\b(is .+ (open|closed|available|playing|on))\\b/i,\n  /\\b(how much (does|is|are))\\b/i,\n  /\\b(what'?s? (happening|going on|the score|the latest))\\b/i,\n  /\\b(live (score|game|match|event|stream|updates?))\\b/i,\n];\n\nconst needsSearch = hasUrl || searchPatterns.some(function(p) { return p.test(message); });\n\n// For URL messages: search the URL directly; else use the full message\nlet searchQuery = message;\nif (hasUrl) {\n  const urlMatch = message.match(/https?:\\/\\/\\S+/);\n  searchQuery = urlMatch ? urlMatch[0] : message;\n}\nif (/near me|near here|near us|around here/i.test(message)) {\n  searchQuery = message + ' Falls Church Merrifield VA';\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    needs_search: needsSearch,\n    search_query: searchQuery,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -900,
        1200
      ],
      "id": "aa000000-0000-0000-0000-000000000001",
      "name": "Detect Search Intent"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "aa000000-0000-0000-0000-000000000010",
              "leftValue": "={{ $json.needs_search }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -448,
        1200
      ],
      "id": "aa000000-0000-0000-0000-000000000002",
      "name": "Auto-Search IF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.PERPLEXITY_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'sonar', messages: [{ role: 'user', content: $json.search_query }], return_citations: true }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        1296
      ],
      "id": "aa000000-0000-0000-0000-000000000003",
      "name": "Auto-Search Perplexity"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO recipes (discord_user_id, title, body)\nVALUES (\n  '{{ $('Channel Router').first().json.userId }}',\n  '{{ $('Channel Router').first().json.recipeTitle?.replace(/'/g, \"''\") }}',\n  '{{ $('Channel Router').first().json.recipeBody?.replace(/'/g, \"''\") }}'\n)\nRETURNING id, title;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        1280
      ],
      "id": "aa000000-0000-0000-0000-000000000001",
      "name": "Save Recipe",
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.id ? '\u2705 **' + $('Channel Router').first().json.recipeTitle + '** saved (id: ' + $json.id + ').' : '\u274c Could not save the recipe \u2014 make sure you include a title.' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -224,
        1280
      ],
      "id": "aa000000-0000-0000-0000-000000000002",
      "name": "Reply Save Recipe",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, LEFT(body, 300) AS preview\nFROM recipes\nWHERE discord_user_id = '{{ $('Channel Router').first().json.userId }}'\n{{ $('Channel Router').first().json.recipesQuery\n   ? \"AND (LOWER(title) LIKE LOWER('%\" + $('Channel Router').first().json.recipesQuery + \"%') OR LOWER(body) LIKE LOWER('%\" + $('Channel Router').first().json.recipesQuery + \"%'))\"\n   : '' }}\nORDER BY created_at DESC\nLIMIT 20;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        1440
      ],
      "id": "aa000000-0000-0000-0000-000000000003",
      "name": "Query Recipes",
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.commandReply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -224,
        1440
      ],
      "id": "aa000000-0000-0000-0000-000000000004",
      "name": "Reply Recipes",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const calendarArg = ($json.calendarArg || '').trim().toLowerCase();\n\n// Sub-calendar IDs for johnson2016family@gmail.com.\n// Find each ID in Google Calendar \u2192 Settings \u2192 <person>'s calendar \u2192 Calendar ID.\n// Replace these placeholder strings with the real IDs, then reimport the workflow.\nconst CALENDAR_IDS = {\n  elliot:    '96c339d8afd938c3bd56438d104dbbcff9b143c7b7368aef9aa1566f2872b063@group.calendar.google.com',\n  henry:     '56b69492b3531bbc685f5f5a7a0e4587f5a9c19fd5f05f5b5c894f7ba64bccdf@group.calendar.google.com',\n  jake:      '07281a040c9feb31d96dbaa55c333cebda6a431b5af457c1175ab7645f673f72@group.calendar.google.com',\n  joce:      'f81fb5dcc801c8812d2ed4b868b5c947f4c43f70795e68b4626e61181a294692@group.calendar.google.com',\n  jocelyn:   'f81fb5dcc801c8812d2ed4b868b5c947f4c43f70795e68b4626e61181a294692@group.calendar.google.com',\n  loubi:     'a8d6c7c251bbdf508cf0cd67ea8258c01bdd38d77d0a2b3d7681adf99daf3736@group.calendar.google.com',\n  laurianne: 'a8d6c7c251bbdf508cf0cd67ea8258c01bdd38d77d0a2b3d7681adf99daf3736@group.calendar.google.com',\n  nana:      '2be86dc3cf881bc0c4e80ce293bc242504fc5e7f4ef3a5560b8379751e0a3be4@group.calendar.google.com',\n  violette:  '0aa07f7d88e92682d83f6249a2199b568f39f6101c2ffa4a90df2cd270dd315e@group.calendar.google.com',\n};\n\nconst now = new Date();\nconst todayStart = new Date(now); todayStart.setHours(0, 0, 0, 0);\nconst todayEnd   = new Date(now); todayEnd.setHours(23, 59, 59, 999);\nconst weekEnd    = new Date(todayStart); weekEnd.setDate(weekEnd.getDate() + 7);\n\nlet calendarId = '07281a040c9feb31d96dbaa55c333cebda6a431b5af457c1175ab7645f673f72@group.calendar.google.com';\nlet timeMin    = todayStart.toISOString();\nlet timeMax    = todayEnd.toISOString();\nlet rangeLabel = 'today';\n\nif (calendarArg === 'week') {\n  timeMax    = weekEnd.toISOString();\n  rangeLabel = 'this week';\n} else if (calendarArg && calendarArg !== 'today' && CALENDAR_IDS[calendarArg]) {\n  calendarId = CALENDAR_IDS[calendarArg];\n  const name = calendarArg.charAt(0).toUpperCase() + calendarArg.slice(1);\n  rangeLabel = name + \"'s calendar \u2014 today\";\n} else if (calendarArg && calendarArg !== 'today') {\n  // Unrecognised arg \u2014 still show today, note the confusion\n  rangeLabel = 'today (unrecognised filter: ' + calendarArg + ')';\n}\n\nreturn [{ json: { calendarId, timeMin, timeMax, rangeLabel } }];"
      },
      "id": "60000000-0000-0000-0000-000000000001",
      "name": "Parse Calendar Cmd",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        1040
      ]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.calendarId }}",
          "mode": "id"
        },
        "returnAll": false,
        "limit": 15,
        "options": {
          "timeMin": "={{ $json.timeMin }}",
          "timeMax": "={{ $json.timeMax }}",
          "orderBy": "startTime",
          "singleEvents": true
        }
      },
      "id": "61000000-0000-0000-0000-000000000001",
      "name": "Get Calendar Events",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -448,
        1040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CRED_ID",
          "name": "Google Calendar (johnson2016family)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rangeLabel = $('Parse Calendar Cmd').first().json.rangeLabel;\nconst events = items.filter(item => item.json && item.json.id);\n\nif (!events.length) {\n  return [{ json: { text: 'Nothing on the calendar for that period.' } }];\n}\n\nconst TZ = 'America/New_York';\n\nfunction fmtTime(dateStr) {\n  return new Date(dateStr).toLocaleString('en-US', {\n    month: 'short', day: 'numeric',\n    hour: 'numeric', minute: '2-digit',\n    timeZone: TZ,\n  });\n}\n\nfunction fmtDate(dateStr) {\n  return new Date(dateStr + 'T12:00:00Z').toLocaleString('en-US', {\n    month: 'short', day: 'numeric',\n    timeZone: TZ,\n  });\n}\n\nfunction sameDay(a, b) {\n  const da = new Date(a), db = new Date(b);\n  return da.toLocaleDateString('en-US', { timeZone: TZ }) ===\n         db.toLocaleDateString('en-US', { timeZone: TZ });\n}\n\nconst lines = events.map(item => {\n  const e = item.json;\n  const summary = e.summary || '(no title)';\n  const start = e.start || {};\n  const end   = e.end   || {};\n  let dateStr = '';\n\n  if (start.dateTime) {\n    const startFmt = fmtTime(start.dateTime);\n    if (end.dateTime) {\n      if (sameDay(start.dateTime, end.dateTime)) {\n        // same day: 'Apr 24, 1:00 PM to 2:00 PM'\n        const endTime = new Date(end.dateTime).toLocaleString('en-US', {\n          hour: 'numeric', minute: '2-digit', timeZone: TZ,\n        });\n        dateStr = startFmt + ' to ' + endTime;\n      } else {\n        dateStr = startFmt + ' to ' + fmtTime(end.dateTime);\n      }\n    } else {\n      dateStr = startFmt;\n    }\n  } else if (start.date) {\n    dateStr = fmtDate(start.date) + ' (all day)';\n  }\n\n  let line = '**' + summary + '**';\n  if (dateStr) line += ' \u2014 ' + dateStr;\n  if (e.location) line += '\\n\ud83d\udccd ' + e.location;\n  if (e.description && e.description.length < 100) line += '\\n' + e.description;\n  return line;\n});\n\nconst text = '**Calendar \u2014 ' + rangeLabel + '**\\n' + lines.join('\\n\\n');\nreturn [{ json: { text } }];\n"
      },
      "id": "62000000-0000-0000-0000-000000000001",
      "name": "Format Calendar Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        1040
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.commandReply }}",
        "options": {}
      },
      "id": "63000000-0000-0000-0000-000000000001",
      "name": "Reply Calendar",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        0,
        1040
      ],
      "webhookId": "c3a9b842-7211-4c9d-9a21-8e2d3f7b1002",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT 'messages_24h' AS metric, COUNT(*)::text AS value\n  FROM discord_conversations WHERE created_at > NOW() - INTERVAL '24 hours'\nUNION ALL\nSELECT 'messages_7d', COUNT(*)::text\n  FROM discord_conversations WHERE created_at > NOW() - INTERVAL '7 days'\nUNION ALL\nSELECT 'last_message', COALESCE(MAX(created_at)::text, 'none')\n  FROM discord_conversations\nUNION ALL\nSELECT 'memories_total', COUNT(*)::text FROM user_memories\nUNION ALL\nSELECT 'memories_auto', COUNT(*)::text FROM user_memories WHERE scope = 'auto'\nUNION ALL\nSELECT 'memories_manual', COUNT(*)::text FROM user_memories WHERE scope IN ('user', 'channel')\nUNION ALL\nSELECT 'recipes_total', COUNT(*)::text FROM recipes"
      },
      "id": "70000000-0000-0000-0000-000000000001",
      "name": "Query Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -672,
        1600
      ],
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Stats come from Query Status (Postgres). Last-error comes from Fetch Last n8n Error (HTTP).\n// The HTTP node calls /api/v1/executions?status=error&limit=1&includeData=true\n// Response structure: { data: [{ id, startedAt, data: { resultData: { error: {...}, runData: {...} } } }] }\nconst rows = $('Query Status').all();\nconst stats = {};\nrows.forEach(function(r) { stats[r.json.metric] = r.json.value; });\n\nlet lastStr = 'none';\nif (stats.last_message && stats.last_message !== 'none') {\n  try {\n    const d = new Date(stats.last_message);\n    lastStr = d.toLocaleString('en-US', {\n      timeZone: 'America/New_York',\n      month: 'short', day: 'numeric',\n      hour: 'numeric', minute: '2-digit',\n    }) + ' ET';\n  } catch(_) { lastStr = stats.last_message; }\n}\n\nlet errorBlock = '';\ntry {\n  const errData = $input.first().json;\n  const execs = errData && errData.data;\n  if (Array.isArray(execs) && execs.length > 0) {\n    const ex = execs[0];\n    const errTime = new Date(ex.startedAt).toLocaleString('en-US', {\n      timeZone: 'America/New_York',\n      month: 'short', day: 'numeric',\n      hour: 'numeric', minute: '2-digit',\n    }) + ' ET';\n    // resultData.runData keys = nodes that ran before the error\n    const runData = (ex.data && ex.data.resultData && ex.data.resultData.runData) || {};\n    const ran = Object.keys(runData);\n    const lastNode = ran.length ? ran[ran.length - 1] : 'unknown';\n    // resultData.error has the error message\n    const errObj = (ex.data && ex.data.resultData && ex.data.resultData.error) || {};\n    const errType = errObj.description || errObj.name || '';\n    const errMsg = errObj.message ? errObj.message.slice(0, 100) : '';\n    const errDetail = errType ? errType + ': ' + errMsg : errMsg;\n    errorBlock = '\\n\\n**Last Error** (' + errTime + ')' +\n      '\\n  Last OK node: ' + lastNode +\n      (errDetail ? ('\\n  Error: ' + errDetail) : '');\n  }\n} catch(_) {}\n\nconst lines = [\n  '**Bruce Status**',\n  '',\n  '**Messages**',\n  '  Last activity: ' + lastStr,\n  '  Past 24h: ' + (stats.messages_24h || '0'),\n  '  Past 7d:  ' + (stats.messages_7d  || '0'),\n  '',\n  '**Memories**',\n  '  Total: ' + (stats.memories_total  || '0'),\n  '  Auto-extracted: ' + (stats.memories_auto   || '0'),\n  '  Manual: ' + (stats.memories_manual || '0'),\n  '',\n  '**Recipes**',\n  '  Total: ' + (stats.recipes_total || '0'),\n];\n\nreturn [{ json: { commandReply: lines.join('\\n') + errorBlock } }];"
      },
      "id": "71000000-0000-0000-0000-000000000001",
      "name": "Format Status Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        1600
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.commandReply }}",
        "options": {}
      },
      "id": "72000000-0000-0000-0000-000000000001",
      "name": "Reply Status",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -224,
        1600
      ],
      "webhookId": "c3a9b842-7211-4c9d-9a21-8e2d3f7b1003",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:5678/api/v1/executions?status=error&limit=1&includeData=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.N8N_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "73000000-0000-0000-0000-000000000001",
      "name": "Fetch Last n8n Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        1744
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Format the recipes list for Discord. Split into \u22641900-char chunks.\nconst rows = $input.all();\nconst router = $('Channel Router').first().json;\n\nif (!rows.length || (rows.length === 1 && !rows[0].json.id)) {\n  const msg = router.recipesQuery\n    ? 'No recipes match that search.'\n    : 'No recipes saved yet. Use `/save-recipe Title` then Shift+Enter and type the body.';\n  return [{ json: { ...router, commandReply: msg } }];\n}\n\nconst lines = rows.map(function(r) {\n  const title   = r.json.title   || '(untitled)';\n  const preview = r.json.preview || '';\n  const id      = r.json.id;\n  return '**' + id + '. ' + title + '**' + (preview ? ('\\n' + preview) : '');\n});\n\nconst MAX = 1900;\nconst chunks = [];\nlet cur = '';\nlines.forEach(function(line) {\n  const sep = cur ? '\\n\\n' : '';\n  if ((cur + sep + line).length > MAX) {\n    if (cur) chunks.push(cur);\n    cur = line;\n  } else {\n    cur += sep + line;\n  }\n});\nif (cur) chunks.push(cur);\n\nreturn chunks.map(function(chunk) {\n  return { json: { ...router, commandReply: chunk } };\n});"
      },
      "id": "74000000-0000-0000-0000-000000000001",
      "name": "Format Recipes Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        1440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT flag_name, flag_value, updated_at\nFROM user_session_flags\nWHERE discord_user_id = '{{ $('Unwrap Body').first().json.author.id }}'\n  AND channel_id = '{{ $('Unwrap Body').first().json.channel_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1280,
        80
      ],
      "id": "80000000-0000-0000-0000-000000000001",
      "name": "Query Session Flags",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse /private \u2014 decide desired new mode (on/off), build commandReply.\n// Upstream Channel Router has already read current flag state via Query\n// Session Flags and surfaced it as router.skipPersist (true if currently\n// private). privateArg is 'on' | 'off' | null (toggle).\nconst router = $('Channel Router').first().json;\nconst wasPrivate = router.skipPersist === true;\nconst arg = router.privateArg;  // null means toggle\n\nlet newValue;\nif (arg === 'on') newValue = true;\nelse if (arg === 'off') newValue = false;\nelse newValue = !wasPrivate;\n\nconst turnedOff = wasPrivate && !newValue;\nconst nowIso = new Date().toISOString();\n\nlet commandReply;\nif (newValue) {\n  commandReply = '\\uD83D\\uDD12 Private mode on \u2014 this conversation won\\'t be saved or remembered.';\n} else if (turnedOff) {\n  commandReply = '\\uD83D\\uDD13 Private mode off \u2014 my messages from this session have been deleted. Back to normal.';\n} else {\n  commandReply = '\\uD83D\\uDD13 Private mode off \u2014 back to normal.';\n}\n\nreturn [{ json: {\n  ...router,\n  privateNewValue: newValue ? 'true' : 'false',\n  privateNewValueBool: newValue,\n  privateTurnedOff: turnedOff,\n  privateStartedAtNew: newValue ? (router.privateStartedAt || nowIso) : nowIso,\n  commandReply,\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        1760
      ],
      "id": "81000000-0000-0000-0000-000000000001",
      "name": "Parse Private Cmd"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_session_flags (discord_user_id, channel_id, flag_name, flag_value, updated_at)\nVALUES\n  ('{{ $json.userId }}', '{{ $json.channelId }}', 'private_mode',       '{{ $json.privateNewValue }}', NOW()),\n  ('{{ $json.userId }}', '{{ $json.channelId }}', 'private_started_at', '{{ $json.privateStartedAtNew }}', NOW())\nON CONFLICT (discord_user_id, channel_id, flag_name) DO UPDATE\n  SET flag_value = EXCLUDED.flag_value,\n      updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        1760
      ],
      "id": "81000000-0000-0000-0000-000000000002",
      "name": "Save Private Flag",
      "credentials": {
        "postgres": {
          "id": "EHBRO07aceirmFzt",
          "name": "Household Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Cleanup Bot Messages \u2014 delete the bot's messages sent during a /private\n// session, triggered on /private off. Pass-through when privateTurnedOff\n// is false so the reply still goes out.\nconst router = $('Parse Private Cmd').first().json;\nconst passthrough = [{ json: router }];\n\nif (!router.privateTurnedOff) return passthrough;\n\nconst BOT_TOKEN   = $env.DISCORD_BOT_TOKEN;\nconst BOT_USER_ID = '1495252972026859520';\nconst channelId   = router.channelId;\nconst sinceIso    = router.privateStartedAt;  // original session start\nif (!BOT_TOKEN || !channelId || !sinceIso) return passthrough;\n\nconst headers = {\n  Authorization: 'Bot ' + BOT_TOKEN,\n  'User-Agent': 'household-ai (bruce, 1.0)',\n};\n\ntry {\n  const listRes = await fetch('https://discord.com/api/v10/channels/' + channelId + '/messages?limit=100', { headers });\n  if (!listRes.ok) return passthrough;\n  const messages = await listRes.json();\n  const sinceMs = Date.parse(sinceIso);\n  const targets = (messages || []).filter(m =>\n    m && m.author && m.author.id === BOT_USER_ID &&\n    Date.parse(m.timestamp) >= sinceMs\n  );\n  for (const m of targets) {\n    try {\n      await fetch('https://discord.com/api/v10/channels/' + channelId + '/messages/' + m.id, { method: 'DELETE', headers });\n    } catch (_) { /* swallow per-message failures */ }\n  }\n} catch (_) { /* swallow list failures */ }\n\nreturn passthrough;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        1760
      ],
      "id": "81000000-0000-0000-0000-000000000003",
      "name": "Cleanup Bot Messages"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.commandReply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        0,
        1760
      ],
      "id": "81000000-0000-0000-0000-000000000004",
      "name": "Reply Private",
      "webhookId": "c3a9b842-7211-4c9d-9a21-8e2d3f7b1010",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Purge Messages \u2014 delete recent messages in the current channel via\n// Discord REST API. Server channels use bulk-delete (messages <14d old);\n// DMs fall back to deleting only the bot's own messages (Discord does\n// not allow bots to delete other users' DM messages).\nconst router  = $('Channel Router').first().json;\nconst arg     = router.purgeArg;            // number | 'all'\nconst isDm    = router.isDm === true;\nconst BOT_TOKEN   = $env.DISCORD_BOT_TOKEN;\nconst BOT_USER_ID = '1495252972026859520';\nconst channelId   = router.channelId;\n\nif (!BOT_TOKEN || !channelId) {\n  return [{ json: { ...router, commandReply: '\\u274C Could not reach Discord \u2014 missing bot token or channel.' } }];\n}\n\nconst headers = {\n  Authorization: 'Bot ' + BOT_TOKEN,\n  'Content-Type': 'application/json',\n  'User-Agent': 'household-ai (bruce, 1.0)',\n};\n\nconst limitToFetch = arg === 'all' ? 100 : Math.min(arg, 100);\nconst cutoffMs     = Date.now() - 14 * 24 * 3600 * 1000;\n\nasync function listMessages() {\n  const r = await fetch('https://discord.com/api/v10/channels/' + channelId + '/messages?limit=' + limitToFetch, { headers });\n  if (!r.ok) return [];\n  return await r.json();\n}\n\nasync function deleteOne(id) {\n  try {\n    await fetch('https://discord.com/api/v10/channels/' + channelId + '/messages/' + id, { method: 'DELETE', headers });\n    return true;\n  } catch (_) { return false; }\n}\n\nasync function bulkDelete(ids) {\n  if (ids.length === 0) return 0;\n  if (ids.length === 1) return (await deleteOne(ids[0])) ? 1 : 0;\n  try {\n    const r = await fetch('https://discord.com/api/v10/channels/' + channelId + '/messages/bulk-delete', {\n      method: 'POST', headers, body: JSON.stringify({ messages: ids }),\n    });\n    return r.ok ? ids.length : 0;\n  } catch (_) { return 0; }\n}\n\nlet deleted = 0;\nlet dmNote  = '';\n\ntry {\n  const messages = await listMessages();\n  if (isDm) {\n    const mine = messages.filter(m => m.author && m.author.id === BOT_USER_ID);\n    for (const m of mine) { if (await deleteOne(m.id)) deleted++; }\n    dmNote = '\\nDiscord doesn\\'t allow bots to delete your messages in DMs \u2014 you can delete yours by right-clicking them (they disappear from both sides).';\n  } else {\n    const recent = messages.filter(m => Date.parse(m.timestamp) >= cutoffMs);\n    const bulkable = recent.filter(m => Date.parse(m.timestamp) >= cutoffMs).map(m => m.id);\n    // bulk-delete only supports 2..100 messages <14d old\n    const chunks = [];\n    for (let i = 0; i < bulkable.length; i += 100) chunks.push(bulkable.slice(i, i + 100));\n    for (const chunk of chunks) deleted += await bulkDelete(chunk);\n  }\n} catch (_) { /* swallow */ }\n\nconst body = '\\uD83D\\uDDD1\\uFE0F Deleted ' + deleted + ' message' + (deleted === 1 ? '' : 's') + '.' + dmNote +\n  '\\n\\n_History in Postgres is untouched \u2014 run \\\\`/clear\\\\` to also wipe conversation history._';\n\nreturn [{ json: { ...router, commandReply: body } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        1920
      ],
      "id": "82000000-0000-0000-0000-000000000001",
      "name": "Purge Messages"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1495249842778148954",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Unwrap Body').first().json.thread_id || $('Unwrap Body').first().json.channel_id }}",
          "mode": "id"
        },
        "content": "={{ $json.commandReply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        -448,
        1920
      ],
      "id": "82000000-0000-0000-0000-000000000002",
      "name": "Reply Purge",
      "webhookId": "c3a9b842-7211-4c9d-9a21-8e2d3f7b1011",
      "credentials": {
        "discordBotApi": {
          "id": "om7VabWMiA8gC2i3",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "id": "61100000-0000-0000-0000-000000000001",
      "name": "Split Calendar Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        1040
      ],
      "parameters": {
        "jsCode": "const items = $input.first().json.items || [];\nreturn items.map(event => ({ json: event }));"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "jina-has-url-cond-01",
              "leftValue": "={{ $json.has_url }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -672,
        1200
      ],
      "id": "jina00000-0000-0000-0000-000000000001",
      "name": "Has URL?"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://r.jina.ai/{{ $json.url_to_fetch }}",
        "options": {
          "timeout": 20000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -448,
        1104
      ],
      "id": "jina00000-0000-0000-0000-000000000002",
      "name": "Fetch Jina Reader",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook (relay in)": {
      "main": [
        [
          {
            "node": "Unwrap Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unwrap Body": {
      "main": [
        [
          {
            "node": "Has Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachments": {
      "main": [
        [
          {
            "node": "Split Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inject Empty Content Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Attachments": {
      "main": [
        [
          {
            "node": "Fetch Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Attachment": {
      "main": [
        [
          {
            "node": "Convert to Content Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Content Blocks": {
      "main": [
        [
          {
            "node": "Merge Attachment Branches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inject Empty Content Blocks": {
      "main": [
        [
          {
            "node": "Merge Attachment Branches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Attachment Branches": {
      "main": [
        [
          {
            "node": "Fetch user Preference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch user Preference": {
      "main": [
        [
          {
            "node": "Query Session Flags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Router": {
      "main": [
        [
          {
            "node": "Command Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Switch": {
      "main": [
        [
          {
            "node": "Is /use reset?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save User Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete User Memory",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List User Memories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Conversation History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Replicate Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Perplexity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Command Confirmation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Calendar Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Recipe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Recipes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Query Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Private Cmd",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Purge Messages",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Should Respond?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is /use reset?": {
      "main": [
        [
          {
            "node": "Reset User Preference",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save User Preference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset User Preference": {
      "main": [
        [
          {
            "node": "Reply /use Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Preference": {
      "main": [
        [
          {
            "node": "Reply /use Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save User Memory": {
      "main": [
        [
          {
            "node": "Reply Command Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete User Memory": {
      "main": [
        [
          {
            "node": "Reply Command Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List User Memories": {
      "main": [
        [
          {
            "node": "Format Memories List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Memories List": {
      "main": [
        [
          {
            "node": "Reply Memories List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Replicate Input": {
      "main": [
        [
          {
            "node": "Need Prompt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Prompt?": {
      "main": [
        [
          {
            "node": "Reply Image Usage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Replicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Replicate": {
      "main": [
        [
          {
            "node": "Parse Replicate Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Replicate Reply": {
      "main": [
        [
          {
            "node": "Reply Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Perplexity": {
      "main": [
        [
          {
            "node": "Parse Perplexity Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Perplexity Reply": {
      "main": [
        [
          {
            "node": "Reply Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Respond?": {
      "main": [
        [
          {
            "node": "Detect Search Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Conversation History": {
      "main": [
        [
          {
            "node": "Fetch User Memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User Memories": {
      "main": [
        [
          {
            "node": "Build Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Request": {
      "main": [
        [
          {
            "node": "Call Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude": {
      "main": [
        [
          {
            "node": "Parse Claude Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Reply": {
      "main": [
        [
          {
            "node": "Reply on Discord",
            "type": "main",
            "index": 0
          },
          {
            "node": "Persist User Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist User Message": {
      "main": [
        [
          {
            "node": "Persist Assistant Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Conversation History": {
      "main": [
        [
          {
            "node": "Reply Command Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Assistant Message": {
      "main": [
        [
          {
            "node": "Build Memory Extraction Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Memory Extraction Request": {
      "main": [
        [
          {
            "node": "Call Claude (Memory)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude (Memory)": {
      "main": [
        [
          {
            "node": "Parse Memory Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Memory Extract": {
      "main": [
        [
          {
            "node": "Insert Auto Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Search Intent": {
      "main": [
        [
          {
            "node": "Has URL?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Search IF": {
      "main": [
        [
          {
            "node": "Auto-Search Perplexity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Search Perplexity": {
      "main": [
        [
          {
            "node": "Fetch Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Recipe": {
      "main": [
        [
          {
            "node": "Reply Save Recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Recipes": {
      "main": [
        [
          {
            "node": "Format Recipes Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Calendar Cmd": {
      "main": [
        [
          {
            "node": "Get Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Events": {
      "main": [
        [
          {
            "node": "Split Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Calendar Reply": {
      "main": [
        [
          {
            "node": "Reply Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Status": {
      "main": [
        [
          {
            "node": "Fetch Last n8n Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Status Reply": {
      "main": [
        [
          {
            "node": "Reply Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last n8n Error": {
      "main": [
        [
          {
            "node": "Format Status Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Recipes Reply": {
      "main": [
        [
          {
            "node": "Reply Recipes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Session Flags": {
      "main": [
        [
          {
            "node": "Channel Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Private Cmd": {
      "main": [
        [
          {
            "node": "Save Private Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Private Flag": {
      "main": [
        [
          {
            "node": "Cleanup Bot Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Bot Messages": {
      "main": [
        [
          {
            "node": "Reply Private",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Purge Messages": {
      "main": [
        [
          {
            "node": "Reply Purge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Calendar Events": {
      "main": [
        [
          {
            "node": "Format Calendar Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has URL?": {
      "main": [
        [
          {
            "node": "Fetch Jina Reader",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto-Search IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Jina Reader": {
      "main": [
        [
          {
            "node": "Fetch Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "e670daf30ba8fcd05bf9c59753f2436e6e3d27bb98ff4610a03b2b9a0221b27e"
  },
  "description": null,
  "isArchived": false
}
